/* base
------------------------- */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Texta', sans-serif;
  color: #444;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* font size on html for rem */
html { font-size: 17px; }
html.export { font-size: 15px; }

a {
  color: #6A6;
  text-decoration: none;
}

a:hover {
  color: #E90;
}

h1, h2, h3 {
  line-height: 1.2;
}

/* ---- code ---- */

pre, code, kbd {
  font-family: Consolas, Menlo, monospace;
  font-size: 14px;
  background: #FAFAFA;
  border: 1px solid #DDD;
  white-space: pre-wrap;
}

pre {
  padding: 10px;
  border-radius: 6px;
  overflow: auto;
}

code, kbd {
  padding: 2px 3px;
  line-height: 1.2;
  border-radius: 3px;
}

pre code {
  padding: 0;
  line-height: 1.5;
  background: none;
  border: none;
}

/* ---- table ---- */

th, td {
  padding: 3px 20px 3px 0;
}

th {
  text-align: left;
  color: #AAA;
  font-weight: normal;
}

td {
  border-top: 1px solid #DDD;
}

tr:nth-child(2) td {
  border-top: 3px double #DDD;
}

/* ---- main ---- */

.main {
  position: relative; /* for page-nav */
}

/* ---- content ---- */

.container {
  max-width: 1000px;
  padding: 0 10px;
}

/* ---- page-title ---- */

.page-title {
  font-size: 2.2rem;
  margin: 0.4rem 0;
}

/* ---- main ---- */

.main h2 {
  font-size: 1.6rem;
  font-weight: normal;
  border-top: 4px double #DDD;
  padding-top: 1.1rem;
  margin-top: 1.4rem;
}

.main h3 {
  font-size: 1.3rem;
  border-top: 1px solid #DDD;
  padding-top: 0.8rem;
  margin: 1.4rem 0 0.5rem;
}

/* ---- logger ---- */

.logger {
  padding: 0.25rem;
  font-size: 1.2rem;
  background: #FAFAFA;
  text-align: center;
}


/* ---- data-license-property ---- */

*[data-license-property] {
  color: #09F;
}

/* ---- hide-small ---- */

@media screen and ( max-width: 640px ) {
  .hidden-small {
    display: none;
  }
}

@media screen and ( min-width: 768px ) {

  html { font-size: 19px; }
  html.export { font-size: 16px; }

  .container {
    padding: 0 30px;
  }

  .page-title {
    font-size: 4.0rem;
  }

  .main h3 {
    font-size: 1.6rem;
    padding-top: 30px;
  }

  .main h2 {
    font-size: 2.4rem;
  }

  pre, code, kbd {
    font-size: 15px;
  }

}
