/* base
------------------------- */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Texta Regular', sans-serif;
  color: #444;
  line-height: 1.5;
  font-size: 17px;
  margin: 0;
  padding: 0;
}

body.export { font-size: 15px; }

a {
  color: #6A6;
  text-decoration: none;
}

a:hover {
  color: #E90;
}

b, strong {
  font-family: 'Texta Heavy', sans-serif;
  font-weight: normal;
}

em, i {
  font-family: 'Texta Italic', sans-serif;
  font-style: normal;
}

h1, h2, h3 {
  line-height: 1.2;
  font-weight: normal;
}

h1 {
  font-family: 'Texta Heavy', sans-serif;
}

h3 {
  font-family: 'Texta Heavy', sans-serif;
}

/* ---- code ---- */

pre, code, kbd {
  font-family: Consolas, Menlo, monospace;
  font-size: 14px;
  background: #FAFAFA;
  border: 1px solid #DDD;
  white-space: pre-wrap;
}

pre {
  padding: 10px;
  border-radius: 6px;
}

code, kbd {
  padding: 2px 3px;
  line-height: 1.2;
  border-radius: 3px;
}

pre code {
  padding: 0;
  line-height: 1.5;
  background: none;
  border: none;
}

/* ---- table ---- */

th, td {
  padding: 3px 20px 3px 0;
}

th {
  text-align: left;
  color: #AAA;
  font-weight: normal;
}

td {
  border-top: 1px solid #DDD;
}

tr:nth-child(2) td {
  border-top: 3px double #DDD;
}

/* ---- content ---- */

.content-wrap {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}

/* ---- page-title ---- */

.page-title {
  font-size: 2.2em;
  margin: 0.4em 0;
}

/* ---- main ---- */

.main h2 {
  font-size: 1.6em;
  border-top: 4px double #DDD;
  padding-top: 1.1em;
  margin-top: 1.4em;
}

.main h3 {
  font-size: 1.3em;
  border-top: 1px solid #DDD;
  padding-top: 0.8em;
  margin: 1.4em 0 0.5em;
}


/* ---- hide-small ---- */


@media screen and ( max-width: 640px ) {
  .hidden-small {
    display: none;
  }
}

@media screen and ( min-width: 768px ) {

  body {
    font-size: 19px;
  }

  body.export { font-size: 16px; }

  .page-title {
    font-size: 4.0em;
  }

  .main h3 {
    font-size: 1.6em;
    padding-top: 30px;
  }

  .main h2 {
    font-size: 2.4em;
  }

  pre, code, kbd {
    font-size: 15px;
  }

}
