/* demo galleries
------------------------- */

.gallery {
  background: #FAFAFA;
  margin-bottom: 30px;
  counter-reset: gallery-cell;
}

.gallery-cell {
  width: 66%;
  height: 160px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

.flickity-enabled .gallery-cell { margin-bottom: 0; }

.gallery-cell:before,
.gallery-cell__number {
  display: block;
  width: 100px;
  margin: 0 auto;
  content: counter(gallery-cell);
  text-align: center;
  line-height: 160px;
  font-size: 80px;
  color: white;
}

.gallery--not-counting .gallery-cell:before { content: none; }

/* ---- style ---- */

.gallery--full-width .gallery-cell {
  width: 100%;
}

.gallery--half-width .gallery-cell {
  width: 50%;
}

.gallery--various-widths .gallery-cell { width: 33%; }
.gallery--various-widths .gallery-cell.size-180 { width: 180px; }
.gallery--various-widths .gallery-cell.size-large { width: 75%; }

.gallery--media-queried .gallery-cell {
  width: 100%;
}

.gallery--selected-cell .gallery-cell.is-selected { background: #ED2; }

.gallery--gallery-focus:focus .flickity-viewport {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/* ---- show-several ---- */

.gallery--show-several .gallery-cell { width: 28%; }

/* ---- auto-play ---- */

/* ---- images-loaded ---- */

.gallery--images-loaded-demo img {
  display: block;
  height: 160px;
}

.gallery--images-demo {
  margin-bottom: 40px;
}

.gallery--images-demo img {
  display: block;
  height: 160px;
}

/* ---- watch-demo ---- */

.gallery--watch-demo:after {
  content: 'flickity';
  display: none;
}

.gallery--watch-demo .gallery-cell {
  margin-right: 10px;
}

/* ---- cell-selector-demo ---- */

.gallery--cell-selector-demo {
  position: relative;
}

.static-banner {
  position: absolute;
  background: hsla(0, 0%, 0%, 0.3);
  z-index: 1;
  padding: 2px 20px;
  color: white;
  pointer-events: none;
}

.static-banner1 {
  left: 10px;
  top: 10px;
}

.static-banner2 {
  right: 10px;
  bottom: 10px;
}

/* ---- gallery--pixel-position-demo ---- */

.gallery--pixel-position-demo .gallery-cell { width: 300px; }

/* ---- gallery--100-width-height ---- */

.gallery--full-bleed { height: 100%; }

.gallery--full-bleed .gallery-cell { height: 100%; }

/* move page dots into gallery*/
.gallery--full-bleed .flickity-page-dots { bottom: 10px; }

/* ---- gallery--set-gallery-size-disabled ---- */

.gallery--set-gallery-size-disabled { height: 160px; }
.gallery--set-gallery-size-disabled .gallery-cell { height: 100%; }

.gallery--set-gallery-size-disabled-percentage { padding-bottom: 50%; }
.gallery--set-gallery-size-disabled-percentage .flickity-viewport {
  position: absolute;
  width: 100%;
}
.gallery--set-gallery-size-disabled-percentage .gallery-cell { height: 100%; }

/* ---- resize-option ---- */

.gallery--resize-option {
  width: 300px;
}

/* ---- resize ---- */

.gallery--resize {
  width: 50%;
  min-width: 240px;
}

.gallery--resize.is-expanded {
  width: 100%;
}

.gallery--resize.is-expanded .gallery-cell {
  height: 320px;
}

.gallery--resize.is-expanded .gallery-cell:before {
  line-height: 320px;
}

/* ---- position-cells ---- */

.gallery--position-cells .gallery-cell {
  position: relative;
  width: 33%;
}

.gallery--position-cells .gallery-cell.is-expanded {
  width: 80%;
}

.gallery-cell .button {
  position: absolute;
  left: 10px;
  top: 10px;
}

/* ---- lazyload ---- */

.gallery--lazyload-cells .gallery-cell {
  height: 200px;
  margin-right: 2px;
  background: #222;
}

.gallery--lazyload-adj-cells .gallery-cell {
  width: 25%;
  height: 160px;
  margin-right: 2px;
  background: #222;
}

.gallery-cell__lazy-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.gallery-cell__lazy-image.flickity-lazyloaded,
.gallery-cell__lazy-image.flickity-lazyerror {
  opacity: 1;
}

.gallery__lazy-image {
  height: 200px;
  min-width: 150px;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}
/* fade in lazy loaded image */
.gallery__lazy-image.flickity-lazyloaded,
.gallery__lazy-image.flickity-lazyerror {
  opacity: 1;
}


/* ---- as-nav-for / gallery-nav ---- */

.gallery--as-nav-for-main { margin-bottom: 40px; }

.gallery--nav .gallery-cell {
  height: 80px;
  width: 100px;
}

.gallery--nav .gallery-cell:before {
  font-size: 50px;
  line-height: 80px;
}

.gallery--nav .gallery-cell.is-nav-selected {
  background: #ED2;
}

/* ---- static-click ---- */

.gallery--static-click .gallery-cell { width: 26%; }

.gallery--static-click .gallery-cell.is-clicked { background: #ED2; }

/* ---- large device media query ---- */

@media screen and ( min-width: 768px ) {

  .gallery--media-queried .gallery-cell { width: 50%; }

  .gallery--watch-demo:after {
    content: '';
  }

  .gallery--images-demo img {
    height: 400px;
  }
}
