/* demo galleries
------------------------- */

.gallery {
  background: #FAFAFA;
  margin-bottom: 30px;
  counter-reset: gallery-cell;
}

.gallery-cell {
  width: 100%;
  height: 160px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/*.gallery-cell:nth-child(5n+2) { background: #6A6; }
.gallery-cell:nth-child(5n+3) { background: #E8A; }
.gallery-cell:nth-child(5n+4) { background: #FD0; }
.gallery-cell:nth-child(5n) { background: #66A; }*/

/*.gallery-cell:nth-child(3n+2) { background: #ED2; }
.gallery-cell:nth-child(3n+0) { background: #E90; }*/

.gallery-cell:before {
  content: counter(gallery-cell);
  display: block;
  text-align: center;
  line-height: 160px;
  font-size: 80px;
  font-weight: bold;
  color: white;
}

/*.gallery-cell:nth-child(5n+1):before { color: #868; }
.gallery-cell:nth-child(5n+2):before { color: #875; }
.gallery-cell:nth-child(5n+3):before { color: #686; }
.gallery-cell:nth-child(5n+4):before { color: #588; }
.gallery-cell:nth-child(5n):before { color: #668; }*/

.gallery--margin .gallery-cell {
  margin-right: 10px;
}

.half-width-margin .gallery-cell {
  width: 50%;
  margin-right: 10px;
}

.various-size .gallery-cell {
  width: 33%;
  margin-right: 10px;
}
.various-size .gallery-cell.size-180 { width: 180px; }
.various-size .gallery-cell.size-large { width: 75%; }

.media-queried .gallery-cell {
  width: 100%;
  margin-right: 2%;
}

.show-neighbors .gallery-cell {
  width: 66%;
  margin: 0 5px;
}

.gallery--contain-demo .gallery-cell {
  width: 30%;
  margin-right: 2%;
}

.gallery--auto-play-demo .gallery-cell { margin-right: 2%; }

.gallery--images-loaded-demo img {
  display: block;
  height: 160px;
}

.gallery--images-demo {
  margin-bottom: 40px;
}

.gallery--images-demo img {
  display: block;
  height: 160px;
}


.gallery--watch-demo:after {
  content: 'flickity';
  display: none;
}

.gallery--watch-demo .gallery-cell {
  margin-right: 10px;
}

/* ---- large device media query ---- */

@media screen and ( min-width: 768px ) {

  .media-queried .gallery-cell { width: 49%; }

  .gallery--watch-demo:after {
    content: '';
  }

  .gallery--watch-demo .gallery-cell {
    margin-bottom: 10px;
  }

  .gallery--images-demo img {
    height: 400px;
  }
}
