/* demo galleries
------------------------- */

.gallery {
  background: #FAFAFA;
  margin-bottom: 30px;
  counter-reset: gallery-cell;
}

.gallery-cell {
  width: 66%;
  height: 160px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

.flickity-enabled .gallery-cell { margin-bottom: 0; }

.gallery-cell:before,
.gallery-cell__number {
  display: block;
  width: 100px;
  margin: 0 auto;
  content: counter(gallery-cell);
  text-align: center;
  line-height: 160px;
  font-size: 80px;
  font-weight: bold;
  color: white;
}

.gallery--not-counting .gallery-cell:before { content: none; }

/* ---- style ---- */

.gallery--full-width .gallery-cell {
  width: 100%;
}

.gallery--half-width .gallery-cell {
  width: 50%;
}

.gallery--various-widths .gallery-cell { width: 33%; }
.gallery--various-widths .gallery-cell.size-180 { width: 180px; }
.gallery--various-widths .gallery-cell.size-large { width: 75%; }

.gallery--media-queried .gallery-cell {
  width: 100%;
}

.gallery--selected-cell .gallery-cell.is-selected { background: #ED2; }

/* ---- show-several ---- */

.gallery--show-several .gallery-cell { width: 28%; }

/* ---- auto-play ---- */

/* ---- images-loaded ---- */

.gallery--images-loaded-demo img {
  display: block;
  height: 160px;
}

.gallery--images-demo {
  margin-bottom: 40px;
}

.gallery--images-demo img {
  display: block;
  height: 160px;
}

/* ---- watch-demo ---- */

.gallery--watch-demo:after {
  content: 'flickity';
  display: none;
}

.gallery--watch-demo .gallery-cell {
  margin-right: 10px;
}

/* ---- cell-seletor-demo ---- */

.static-banner {
  position: absolute;
  background: hsla(0, 0%, 0%, 0.3);
  z-index: 1;
  padding: 2px 20px;
  color: white;
  pointer-events: none;
}

.static-banner1 {
  left: 10px;
  top: 10px;
}

.static-banner2 {
  right: 10px;
  bottom: 10px;
}

/* ---- gallery--pixel-position-demo ---- */

.gallery--pixel-position-demo .gallery-cell { width: 300px; }

/* ---- resize-option ---- */

.gallery--resize-option {
  width: 300px;
}

/* ---- resize ---- */

.gallery--resize {
  width: 50%;
  min-width: 240px;
}

.gallery--resize.is-expanded {
  width: 100%;
}

.gallery--resize.is-expanded .gallery-cell {
  height: 320px;
}

.gallery--resize.is-expanded .gallery-cell:before {
  line-height: 320px;
}

/* ---- position-cells ---- */

.gallery--position-cells .gallery-cell {
  position: relative;
  width: 33%;
}

.gallery--position-cells .gallery-cell.is-expanded {
  width: 80%;
}

.gallery-cell .button {
  position: absolute;
  left: 10px;
  top: 10px;
}

/* ---- as-nav-for / gallery-nav ---- */

.gallery--as-nav-for-a { margin-bottom: 40px; }

.gallery--nav .gallery-cell {
  height: 80px;
  width: 100px;
}

.gallery--nav .gallery-cell:before {
  font-size: 50px;
  line-height: 80px;
}

.gallery--nav .gallery-cell.is-nav-selected {
  background: #ED2;
}

/* ---- static-click ---- */

.gallery--static-click .gallery-cell { width: 26%; }

.gallery--static-click .gallery-cell.is-clicked { background: #ED2; }

/* ---- large device media query ---- */

@media screen and ( min-width: 768px ) {

  .gallery--media-queried .gallery-cell { width: 50%; }

  .gallery--watch-demo:after {
    content: '';
  }

  .gallery--images-demo img {
    height: 400px;
  }
}
