* {
  box-sizing: border-box;
}

body {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
  font-family: sans-serif;
  color: #333;
  line-height: 1.5;
}

.example {
  margin-bottom: 40px;
}

.example:after {
  content: '';
  display: block;
  clear: both;
}

/* demo flickities */

.gallery {
  background: #EEE;
  margin-bottom: 30px;
  counter-reset: gallery-cell;
}

.gallery-cell {
  width: 100%;
  height: 160px;
  background: #F50;
  counter-increment: gallery-cell;
}

.gallery-cell:before {
  content: counter(gallery-cell);
  display: block;
  text-align: center;
  line-height: 160px;
  font-size: 80px;
  font-weight: bold;
  color: white;
}

.half-width-margin .gallery-cell {
  width: 50%;
  margin-right: 10px;
}

.various-size .gallery-cell {
  width: 33%;
  margin-right: 10px;
}
.various-size .gallery-cell.size-180 { width: 180px; }
.various-size .gallery-cell.size-large { width: 75%; }

.media-queried .gallery-cell {
  width: 100%;
  margin-right: 2%;
}

.show-neighbors .gallery-cell {
  width: 66%;
  margin: 0 5px;
}

@media screen and ( min-width: 768px ) {
  .example__code,
  .example__demo {
    float: left;
    width: 48%;
  }
  .example__code { margin-right: 4%; }

  .media-queried .gallery-cell { width: 49%; }
}



/* ---- code ---- */

pre, code {
  font-family: Consolas, Menlo, monospace;
  font-size: 15px;
  background: #111;
  color: white;
}

pre {
  padding: 10px;
  border-radius: 5px;
}

code {
  padding: 2px 3px;
  line-height: 1.2;
  border-radius: 3px;
}

pre code {
  padding: 0;
  line-height: 1.5;
  background: none;
}

/* ---- syntax highlight ---- */

code .string,
code .tag .value { color: #0C4; }
code .number, /* integer */
code .cp, /* doctype */
code .literal { color: #38F; } /*boolean*/
code .keyword { color: #F73; } /* keyword */
code .kd, /* storage */
code .attribute { color: #DC8; } /* markup attribute */
code .title { color: #9CF; }
code .params { color: #98D; }
code .regexp  { color: #FC8; } /* regex */
code .o  { color: #F63; }   /* operator */
code .nb { color: #AA97AC;} /* support */

/* comment */
code .comment { color: #999; font-style: italic; }

code .tag { color: #6CF; } /* Markup open tag */

code .id { color: #ABC; } /* css id */
code .class { color: #A63; }  /* CSS class */
code .rules { color: #FED; }
code .m  { color: #DE8E50; } /* CSS value */
code .nd { color: #9FAD7E; } /* CSS pseudo selector */
code .hexcolor { color: #F63; }
code .at_rule { color: #0BB; }
