/* web fonts
------------------------- */

@import url("//hello.myfonts.net/count/2d333f");

/*
  Just use WOFF2 and WOFF for webfonts
  http://css-tricks.com/snippets/css/using-font-face/ */

/* Texta Bold */
@font-face {
  font-family: 'Texta';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/2D333F_0_0.woff2') format('woff2'),
    url('../fonts/2D333F_0_0.woff') format('woff');
}

/* Texta Italic */
@font-face {
  font-family: 'Texta';
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/2D333F_1_0.woff2') format('woff2'),
    url('../fonts/2D333F_1_0.woff') format('woff');
}

/* Texta Regular */
@font-face {
  font-family: 'Texta';
  src: url('../fonts/2D333F_2_0.woff2') format('woff2'),
    url('../fonts/2D333F_2_0.woff') format('woff');
}
