/* web fonts
------------------------- */

@import url("//hello.myfonts.net/count/2d1b53");

/*
  Just use WOFF2 and WOFF for webfonts
  http://css-tricks.com/snippets/css/using-font-face/ */

@font-face {
  font-family: 'Texta Heavy';
  src: url('../fonts/2D1B55_0_0.woff2') format('woff2'),
    url('../fonts/2D1B55_0_0.woff') format('woff');
}

@font-face {
  font-family: 'Texta Italic';
  src: url('../fonts/2D1B55_1_0.woff2') format('woff2'),
    url('../fonts/2D1B55_1_0.woff') format('woff');
}

@font-face {
  font-family: 'Texta Regular';
  src: url('../fonts/2D1B55_2_0.woff2') format('woff2'),
    url('../fonts/2D1B55_2_0.woff') format('woff');
}
