<h3>cellAlign</h3>

<p>Align cells within the carousel element.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    cellAlign: 'left'
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="carousel js-flickity"
      data-flickity-options='{ "cellAlign": "left" }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
    {{> edit-demo default="MYQwbx" }}
  </div>
</div>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    // default cellAlign: 'center'
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="carousel js-flickity">
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
    {{> edit-demo default="azqbop" }}
  </div>
</div>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    cellAlign: 'right'
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="carousel js-flickity"
      data-flickity-options='{ "cellAlign": "right" }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
    {{> edit-demo default="ogEXBL" }}
  </div>
</div>
