<div class="example__demo" data-js="static-click">
  <p class="example__demo__instruction">Click cells</p>
  <div class="carousel carousel--static-click">
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
  </div>
  <p class="logger">&nbsp;</p>
  {{> edit-demo default="XJZgzM" vanilla_js="RNQgxe" }}
</div>
