<div class="duo__cell example__demo" data-js="resize-show">
  <div class="button-row">
    <button class="button">Show carousel</button>
  </div>
  <div class="carousel" style="display: none;">
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
  </div>
  {{> edit-demo default="eNvdoo" vanillaJS="gpmLYG" }}
</div>
