/* ---- carousel--prev-next-small-outside ---- */

.carousel--prev-next-small-outside {
  margin-left: 40px;
  margin-right: 40px;
}

.carousel--prev-next-small-outside .flickity-button {
  background: #333;
}

.carousel--prev-next-small-outside .flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.carousel--prev-next-small-outside .flickity-button:hover {
  background: #F90;
}

.carousel--prev-next-small-outside .flickity-button-icon {
  fill: white;
}

.carousel--prev-next-small-outside .flickity-prev-next-button.previous {
  left: -40px;
}
.carousel--prev-next-small-outside .flickity-prev-next-button.next {
  right: -40px;
}
