<a class="buy-button" href="https://app.simplegoods.co/i/{{simplegoods_id}}">
  <span class="buy-button__project">Flickity Commercial</span>
  <span class="buy-button__title">{{title}}</span>
  <span class="buy-button__license">License</span>
  <span class="buy-button__for">for {{for}}</span>
  <span class="buy-button__price">
    <span class="buy-button__price__dollar">$</span><span class="buy-button__price__value">{{price}}</span>
  </span>
</a>
