<h3>contain</h3>

<p>Contains cells to carousel element to prevent excess scroll at beginning or end. Has no effect if <code>wrapAround: true</code>.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    contain: true
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="carousel carousel--show-several js-flickity"
      data-flickity-options='{ "contain": true }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
    {{> edit_demo default="QwQbdV" }}
  </div>
</div>
