<h3>contain</h3>

<p>Contains cells to gallery element to prevent excess scroll at beginning or end. Has no effect if <code>wrapAround: true</code>.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    contain: true
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="gallery gallery--show-several js-flickity"
      data-flickity-options='{ "contain": true }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{#codepens.contain}}
      {{>example_edit_demo}}
    {{/codepens.contain}}
  </div>
</div>
