<p class="example__edit-demo">
  {{#if vanilla_js}}
    <a href="http://codepen.io/desandro/pen/{{default}}">Edit this demo</a>
    or <a href="http://codepen.io/desandro/pen/{{vanilla_js}}">vanilla JS demo</a> on CodePen
  {{else}}
    <a href="http://codepen.io/desandro/pen/{{default}}">Edit this demo on CodePen</a>
  {{/if}}
</p>
