<div class="hero-carousel js-flickity" data-js-module="hero-carousel">
  <div class="hero-carousel__cell hero-carousel__cell--1">
    <div class="hero-carousel__cell__content">
      <h1>Flickity</h1>
      <p class="tagline">Touch, responsive, flickable&nbsp;carousels</p>
      {{#unless is_export}}
        <img class="hero-illustration" src="img/flickity-illustration.png" alt="Flickity illustration" />
      {{/unless}}
    </div>
  </div>
  <div class="hero-carousel__cell hero-carousel__cell--2">
    <div class="hero-carousel__cell__content">
      <p class="slogan slogan--easy">Easy to use.</p>
      <p class="slogan slogan--fun">Fun to flick.</p>
      <p class="slogan slogan--tagline">Flickity makes carousels, galleries, &amp; sliders that feel lively and effortless.</p>
    </div>
  </div>
  <div class="hero-carousel__cell hero-carousel__cell--3">
    <div class="hero-carousel__cell__content">
      <ul class="feature-list">
        <li>Physics-based animation</li>
        <li>Touch enable</li>
        <li class="hidden-small">Responsive styling</li>
        <li class="hidden-small">Full-feature API</li>
      </ul>
    </div>
  </div>
  <div class="hero-carousel__cell hero-carousel__cell--4">
    <div class="hero-carousel__cell__content">
      <p class="by-line by-line--made">Made by <b>Metafizzy</b>.</p>
      <p class="by-line by-line--you hidden-small">You make the things that matter.</p>
      <p class="by-line by-line--we">We make the widgets.</p>
    </div>
  </div>
</div>
