<h3>imagesLoaded</h3>

<p>Unloaded images have no size, which can throw off cell positions. To fix this, the <code>imagesLoaded</code> option re-positions cells once their images have loaded.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    imagesLoaded: true
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="gallery gallery--images-loaded-demo js-flickity"
      data-flickity-options='{ "imagesLoaded": true }'>
        <!-- images from unsplash.com -->
        <img src="http://i.imgur.com/bwy74ok.jpg" />
        <img src="http://i.imgur.com/bAZWoqx.jpg" />
        <img src="http://i.imgur.com/PgmEBSB.jpg" />
        <img src="http://i.imgur.com/aboaFoB.jpg" />
        <img src="http://i.imgur.com/LkmcILl.jpg" />
        <img src="http://i.imgur.com/q9zO6tw.jpg" />
        <!-- <img src="http://i.imgur.com/r8p3Xgq.jpg" />
        <img src="http://i.imgur.com/hODreXI.jpg" />
        <img src="http://i.imgur.com/UORFJ3w.jpg" /> -->
    </div>
  </div>
</div>
