<div class="gallery-cell">
  <img class="gallery-cell__lazy-image"
  data-flickity-lazyload="http://i.imgur.com/9xYjgCk.jpg" alt="tulip" />
</div>
<div class="gallery-cell">
  <img class="gallery-cell__lazy-image"
  data-flickity-lazyload="http://i.imgur.com/8lEJtbg.jpg" alt="grapes" />
</div>
<div class="gallery-cell">
  <img class="gallery-cell__lazy-image"
  data-flickity-lazyload="http://i.imgur.com/ERMbVdn.jpg" alt="raspberries" />
</div>
<div class="gallery-cell">
  <img class="gallery-cell__lazy-image"
  data-flickity-lazyload="http://i.imgur.com/lBKi66i.jpg" alt="wolf" />
</div>
<div class="gallery-cell">
  <img class="gallery-cell__lazy-image"
  data-flickity-lazyload="http://i.imgur.com/4O7U1Ob.jpg" alt="sea" />
</div>
<div class="gallery-cell">
  <img class="gallery-cell__lazy-image"
  data-flickity-lazyload="http://i.imgur.com/4ifgQaR.jpg" alt="green beads" />
</div>
<div class="gallery-cell">
  <img class="gallery-cell__lazy-image"
  data-flickity-lazyload="http://i.imgur.com/qKhkOKC.jpg" alt="gulls" />
</div>
<div class="gallery-cell">
  <img class="gallery-cell__lazy-image"
  data-flickity-lazyload="http://i.imgur.com/LFelADP.jpg" alt="touch" />
</div>
<div class="gallery-cell">
  <img class="gallery-cell__lazy-image"
  data-flickity-lazyload="http://i.imgur.com/OZmQIVL.jpg" alt="van" />
</div>
