<div class="site-footer">
  <div class="content-wrap">
    {{#unless is_export}}
      <p class="site-footer__made-by">Metafizzy makes delightful web UI. Also made by Metafizzy:</p>

      <div class="duo other-products">
        <div class="duo__cell other-products__cell other-products__cell--isotope">
          <a href="http://isotope.metafizzy.co/">
            <img src="http://i.imgur.com/xfGupRf.png" alt="Isotope" />
            <h3>Isotope</h3>
            <p class="description">Filter &amp; sort magical layouts</p>
          </a>
        </div>

        <div class="duo__cell other-products__cell other-products__cell--packery">
          <a href="http://packery.metafizzy.co/">
            <img src="http://i.imgur.com/uRXPQfm.png" alt="Packery" />
            <h3>Packery</h3>
            <p class="description">Gap-less, draggable, bin-packing layout library</p>
          </a>
        </div>
      </div>
    {{/unless}}

    <p class="site-footer__follow">Follow <a href="https://twitter.com/metafizzyco">@metafizzyco on Twitter for Flickity updates</a>.</p>

    <p class="site-footer__help">Help improve these docs.
      <a href="https://github.com/metafizzy/flickity-docs/issues/">Open an issue</a> or
      <a href="https://github.com/metafizzy/flickity-docs/blob/master/{{file_path}}">pull request</a>.</p>

  </div> {{! .content-wrap }}
</div> {{! .site-footer }}
