<header class="site-header">
  <div class="content-wrap">
    <ul class="site-nav">
      <li class="site-nav__item site-nav__item--homepage"><a href=".">Flickity</a></li>
      <li class="site-nav__item site-nav__item--style"><a href="style.html">Style</a></li>
      <li class="site-nav__item site-nav__item--options"><a href="options.html">Options</a></li>
      <!-- <li class="site-nav__item site-nav__item--methods"><a href="methods.html">Methods</a></li>
      <li class="site-nav__item site-nav__item--events"><a href="events.html">Events</a></li>
      <li class="site-nav__item site-nav__item--extras"><a href="extras.html">Extras</a></li>
      <li class="site-nav__item site-nav__item--license"><a href="license.html">License</a></li> -->
    </ul>
  </div>
</header>
