<h3>wrapAround</h3>

<p>At the end of cells, wrap-around to the other end for infinite scrolling.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    wrapAround: true
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="gallery js-flickity"
      data-flickity-options='{ "wrapAround": true }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{#codepens.wrap_around}}
      {{>edit_demo}}
    {{/codepens.wrap_around}}
  </div>
</div>
