<div class="example__demo duo__cell" data-js="next">
  <div class="button-row">
    <button class="button button--next">Next</button>
    <button class="button button--next-wrapped">Next wrapped</button>
  </div>
  <div class="carousel">
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
  </div>
  {{> edit-demo default="JopYby" vanilla_js="gbvaLQ" }}
</div>
