<div class="arrow-wiz duo" data-js-module="arrow-wiz">

  <div class="duo__cell clearfix">

    <div class="arrow-wiz-illo">
      <span class="arrow-wiz-illo__graph-label
        arrow-wiz-illo__graph-label--y arrow-wiz-illo__graph-label--y-pos50">50</span>
      <span class="arrow-wiz-illo__graph-label
        arrow-wiz-illo__graph-label--y arrow-wiz-illo__graph-label--y-0">0</span>
      <span class="arrow-wiz-illo__graph-label
        arrow-wiz-illo__graph-label--y arrow-wiz-illo__graph-label--y-neg50">-50</span>
      <span class="arrow-wiz-illo__graph-label
        arrow-wiz-illo__graph-label--x arrow-wiz-illo__graph-label--x-0">0</span>
      <span class="arrow-wiz-illo__graph-label
        arrow-wiz-illo__graph-label--x arrow-wiz-illo__graph-label--x-50">50</span>
      <span class="arrow-wiz-illo__graph-label
        arrow-wiz-illo__graph-label--x arrow-wiz-illo__graph-label--x-100">100</span>

      <canvas class="arrow-wiz-illo__canvas" width="200" height="200"></canvas>

      <div class="arrow-wiz-illo__top-well">
        <div class="arrow-wiz-illo__point arrow-wiz-illo__point--1" data-point="1">
          <div class="arrow-wiz-illo__point__dot"></div>
          <div class="arrow-wiz-illo__point__label">x1, y1</div>
        </div>
        <div class="arrow-wiz-illo__point arrow-wiz-illo__point--2" data-point="2">
          <div class="arrow-wiz-illo__point__dot"></div>
          <div class="arrow-wiz-illo__point__label">x2, y2</div>
        </div>
      </div>

      <div class="arrow-wiz-illo__center-well">
        <div class="arrow-wiz-illo__point arrow-wiz-illo__point--0" data-point="0">
          <div class="arrow-wiz-illo__point__dot"></div>
          <div class="arrow-wiz-illo__point__label">x0</div>
        </div>
        <div class="arrow-wiz-illo__point arrow-wiz-illo__point--3" data-point="3">
          <div class="arrow-wiz-illo__point__dot"></div>
          <div class="arrow-wiz-illo__point__label">x3</div>
        </div>
      </div>

    </div>

    <pre class="arrow-wiz-code"><code></code></pre>

  </div>

  <div class="duo__cell example__demo">
    <div class="carousel">
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
    {{> edit-demo default="vOeKpJ" }}
  </div>


</div>