---
title: API
---

<h2>Methods</h2>

<p>Methods are actions done by Flickity instances.</p>

<p>With jQuery, methods follow the jQuery UI pattern
  <code>$gallery.flickity( <span class="string">'methodName'</span> <span class="comment">/*, arguments */</span> )</code>.</p>

``` js
var $gallery = $('.gallery').flickity()
  .flickity('next')
  .flickity( 'select', 4 );
```

<div class="call-out">
  <p>jQuery chaining is broken by methods that return values: <code>getCellElements</code>, <code>on</code>, <code>off</code>.</p>
</div>

<p>Vanilla JavaScript methods look like
  <code>flickity.methodName( <span class="comment">/* arguments */</span> )</code>. Unlike jQuery methods, they cannot be chained together.</p>

``` js
// vanilla JS
var flkty = new Flickity('.gallery');
flkty.next();
flkty.select( 3 );
```

<h2>Selecting cells</h2>

<h3>select</h3>

<p>Select a cell.</p>

``` js
// jQuery
$gallery.flickity( 'select', index )
// vanilla JS
flkty.select( index )
```

<p class="argument">
  <code class="argument__code">index</code>
  <span class="argument__type"><i>Integer</i></span>
  <span class="argument__description">Zero-based index of the cell to select.</span>
</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    $('.button-group').on( 'click', '.button', function() {
      var index = $(this).index();
      $gallery.flickity( 'select', index );
    });
    ```
  </div>
  <div class="example__demo duo__cell" data-js-module="select">
    <div class="button-row button-group">
      <button class="button">1</button>
      <button class="button">2</button>
      <button class="button">3</button>
      <button class="button">4</button>
      <button class="button">5</button>
    </div>
    <div class="gallery">
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{#codepens.select_method}}
      {{>edit_demo}}
    {{/codepens.select_method}}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>previous</h3>

<p>Select the previous cell.</p>

``` js
// jQuery
$gallery.flickity( 'previous', isWrapped )
// vanilla JS
flkty.previous( isWrapped )
```

<p class="argument">
  <code class="argument__code">isWrapped</code>
  <span class="argument__type"><i>Boolean</i></span>
  <span class="argument__description">Optional. If <code><span class="literal">true</span></code>, the last cell will be selected if at the first cell.</span>
</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    // previous
    $('.button--previous').on( 'click', function() {
      $gallery.flickity('previous');
    });
    // previous wrapped
    $('.button--previous-wrapped').on( 'click', function() {
      $gallery.flickity( 'previous', true );
    });
    ```
  </div>
  <div class="example__demo duo__cell" data-js-module="previous">
    <div class="button-row">
      <button class="button button--previous">Previous</button>
      <button class="button button--previous-wrapped">Previous wrapped</button>
    </div>
    <div class="gallery">
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{#codepens.previous}}
      {{>edit_demo}}
    {{/codepens.previous}}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>next</h3>

<p>Select the next cell.</p>

``` js
// jQuery
$gallery.flickity( 'next', isWrapped )
// vanilla JS
flkty.next( isWrapped )
```

<p class="argument">
  <code class="argument__code">isWrapped</code>
  <span class="argument__type"><i>Boolean</i></span>
  <span class="argument__description">Optional. If <code><span class="literal">true</span></code>, the first cell will be selected if at the last cell.</span>
</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    // next
    $('.button--next').on( 'click', function() {
      $gallery.flickity('next');
    });
    // next wrapped
    $('.button--next-wrapped').on( 'click', function() {
      $gallery.flickity( 'next', true );
    });
    ```
  </div>
  <div class="example__demo duo__cell" data-js-module="next">
    <div class="button-row">
      <button class="button button--next">Next</button>
      <button class="button button--next-wrapped">Next wrapped</button>
    </div>
    <div class="gallery">
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{#codepens.next}}
      {{>edit_demo}}
    {{/codepens.next}}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h2>Sizing and positioning</h2>

<h3>resize</h3>

<p>Resize the gallery and re-position cells.</p>

``` js
// jQuery
$gallery.flickity('resize')
// vanilla JS
flkty.resize()
```

<div class="example">
  <div class="example__code">
    <div class="duo">
      <div class="duo__cell">
        ``` js
        $('.button--resize').on( 'click', function() {
          // expand gallery by toggling class
          $gallery.toggleClass('is-expanded')
            .flickity('resize');
        });
        ```
      </div>
      <div class="duo__cell">
        ``` css
        .gallery { width: 50%; }
        .gallery.is-expanded { width: 100%; }

        .gallery.is-expanded .gallery-cell {
          height: 320px;
        }
        ```
      </div>
    </div>

  </div>
  <div class="example__demo" data-js-module="resize">
    <div class="button-row">
      <button class="button button--resize">Resize</button>
    </div>
    <div class="gallery gallery--resize">
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{#codepens.resize_method}}
      {{>edit_demo}}
    {{/codepens.resize_method}}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>reposition</h3>

<p>Position cells at selected position. Trigger <code>reposition</code> after the size of a cell has been changed.</p>

``` js
// jQuery
$gallery.flickity('reposition')
// vanilla JS
flkty.reposition()
```

<div class="example">
  <div class="example__code">
    ``` js
    $gallery.on( 'staticClick', function( event, pointer, cellIndex, cellElement ) {
      if ( !cellElement ) {
        return;
      }
      $( cellElement ).toggleClass('is-expanded');
      $gallery.flickity('reposition');
    });
    ```
  </div>
  <div class="example__demo" data-js-module="reposition">
    <p class="example__demo__instruction">Click cells to toggle size</p>
    <div class="gallery gallery--position-cells">
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{#codepens.reposition}}
      {{>edit_demo}}
    {{/codepens.reposition}}
  </div>
</div>


{{! ----------------------------------------------------------------- }}

<h2>Adding and removing cells</h2>

<h3>prepend</h3>

<p>Prepend elements and create cells to the beginning of the gallery.</p>

``` js
// jQuery
$gallery.flickity( 'prepend', elements )
// vanilla JS
flkty.prepend( elements )
```

<p class="argument">
  <code class="argument__code">elements</code>
  <span class="argument__type"><i>jQuery</i> object, <i>Array</i> of <i>Elements</i>, <i>Element</i>, or <i>NodeList</i></span>
</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    $('.button').on( 'click', function() {
      var $cellElems = $('<div class="gallery-cell">...</div>');
      $gallery.flickity( 'prepend', $cellElems );
    });
    ```
  </div>
  <div class="duo__cell example__demo" data-js-module="prepend">
    <div class="button-row">
      <button class="button">Prepend cells</button>
    </div>
    <div class="gallery gallery--not-counting gallery--show-several">
      <div class="gallery-cell">
        <span class="gallery-cell__number">1</span>
      </div>
      <div class="gallery-cell">
        <span class="gallery-cell__number">2</span>
      </div>
      <div class="gallery-cell">
        <span class="gallery-cell__number">3</span>
      </div>
    </div>
    {{#codepens.prepend}}
      {{>edit_demo}}
    {{/codepens.prepend}}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>append</h3>

<p>Append elements and create cells to the end of the gallery.</p>

``` js
// jQuery
$gallery.flickity( 'append', elements )
// vanilla JS
flkty.append( elements )
```

<p class="argument">
  <code class="argument__code">elements</code>
  <span class="argument__type"><i>jQuery</i> object, <i>Array</i> of <i>Elements</i>, <i>Element</i>, or <i>NodeList</i></span>
</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    $('.button').on( 'click', function() {
      var $cellElems = $('<div class="gallery-cell">...</div>');
      $gallery.flickity( 'append', $cellElems );
    });
    ```
  </div>
  <div class="duo__cell example__demo" data-js-module="append">
    <div class="button-row">
      <button class="button">Append cells</button>
    </div>
    <div class="gallery gallery--not-counting gallery--show-several">
      <div class="gallery-cell">
        <span class="gallery-cell__number">1</span>
      </div>
      <div class="gallery-cell">
        <span class="gallery-cell__number">2</span>
      </div>
      <div class="gallery-cell">
        <span class="gallery-cell__number">3</span>
      </div>
    </div>
    {{#codepens.append}}
      {{>edit_demo}}
    {{/codepens.append}}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>insert</h3>

<p>Insert elements into the gallery and create cells.</p>

``` js
// jQuery
$gallery.flickity( 'insert', elements, index )
// vanilla JS
flkty.insert( elements, index )
```

<p class="argument">
  <code class="argument__code">elements</code>
  <span class="argument__type"><i>jQuery</i> object, <i>Array</i> of <i>Elements</i>, <i>Element</i>, or <i>NodeList</i></span>
</p>

<p class="argument">
  <code class="argument__code">index</code>
  <span class="argument__type"><i>Integer</i></span>
  <span class="argument__description">Zero-based index to insert elements.</span>
</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    $('.button').on( 'click', function() {
      var $cellElems = $('<div class="gallery-cell">...</div>');
      $gallery.flickity( 'insert', $cellElems, 1 );
    });
    ```
  </div>
  <div class="duo__cell example__demo" data-js-module="insert">
    <div class="button-row">
      <button class="button">Insert cells after 2nd</button>
    </div>
    <div class="gallery gallery--not-counting gallery--show-several">
      <div class="gallery-cell">
        <span class="gallery-cell__number">1</span>
      </div>
      <div class="gallery-cell">
        <span class="gallery-cell__number">2</span>
      </div>
      <div class="gallery-cell">
        <span class="gallery-cell__number">3</span>
      </div>
    </div>
    {{#codepens.insert}}
      {{>edit_demo}}
    {{/codepens.insert}}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>remove</h3>

<p>Remove cells from gallery and remove elements from DOM.</p>

``` js
// jQuery
$gallery.flickity( 'remove', elements )
// vanilla JS
flkty.remove( elements )
```

<p class="argument">
  <code class="argument__code">elements</code>
  <span class="argument__type"><i>jQuery</i> object, <i>Array</i> of <i>Elements</i>, <i>Element</i>, or <i>NodeList</i></span>
</p>

<div class="example">
  <div class="example__code">
    ``` js
    $('.gallery').on( 'staticClick', function( event, pointer, cellIndex, cellElement ) {
      if ( cellElement ) {
        $gallery.flickity( 'remove', cellElement );
      }
    });
    ```
  </div>
  <div class="example__demo" data-js-module="remove">
    <p class="example__demo__instruction">Click cells to remove</p>
    <div class="gallery gallery--not-counting gallery--show-several">
      <div class="gallery-cell">
        <span class="gallery-cell__number">1</span>
      </div>
      <div class="gallery-cell">
        <span class="gallery-cell__number">2</span>
      </div>
      <div class="gallery-cell">
        <span class="gallery-cell__number">3</span>
      </div>
      <div class="gallery-cell">
        <span class="gallery-cell__number">4</span>
      </div>
      <div class="gallery-cell">
        <span class="gallery-cell__number">5</span>
      </div>
      <div class="gallery-cell">
        <span class="gallery-cell__number">6</span>
      </div>
      <div class="gallery-cell">
        <span class="gallery-cell__number">7</span>
      </div>
      <div class="gallery-cell">
        <span class="gallery-cell__number">8</span>
      </div>
    </div>
    {{#codepens.remove}}
      {{>edit_demo}}
    {{/codepens.remove}}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h2>Utilities</h2>

<h3>destroy</h3>

<p>Remove Flickity functionality completely. <code>destroy</code> will return the element back to its pre-initialized state.</p>

``` js
// jQuery
$gallery.flickity('destroy')
// vanilla JS
flkty.destroy()
```

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    var $gallery = $('.gallery').flickity();
    var isFlickity = true;
    // toggle Flickity on/off
    $('.button--toggle').on( 'click', function() {
      if ( isFlickity ) {
        // destroy Flickity
        $gallery.flickity('destroy');
      } else {
        // init new Flickity
        $gallery.flickity();
      }
      isFlickity = !isFlickity;
    });
    ```
  </div>
  <div class="example__demo duo__cell" data-js-module="destroy">
    <div class="button-row">
      <button class="button">Toggle Flickity</button>
    </div>
    <div class="gallery">
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{#codepens.destroy}}
      {{>edit_demo}}
    {{/codepens.destroy}}
  </div>
</div>


{{! ----------------------------------------------------------------- }}

<h3>reloadCells</h3>

<p>Re-collect all cell elements in <code>flickity-slider</code>.</p>

``` js
// jQuery
$gallery.flickity('reloadCells')
// vanilla JS
flkty.reloadCells()
```

{{! ----------------------------------------------------------------- }}

<h3>getCellElements</h3>

<p>Get the elements of the cells.</p>

``` js
// jQuery
var cellElements = $gallery.flickity('getCellElements')
// vanilla JS
var cellElements = flkty.getCellElements()
```

<p class="argument">
  <code class="argument__code">cellElements</code>
  <span class="argument__type"><i>Array</i> of <i>Elements</i></span>
</p>

{{! ----------------------------------------------------------------- }}

<h3>jQuery.fn.data('flickity')</h3>

<p>Get the Flickity instance from a jQuery object. Flickity instances are useful to access Flickity properties.</p>

``` js
var flkty = $('.gallery').data('flickity')
// access Flickity properties
console.log( 'gallery at ' + flkty.selectedIndex )
```

{{! ----------------------------------------------------------------- }}

<h3>Flickity.data()</h3>

<p>Get the Flickity instance via its element. <code>Flickity.data()</code> is useful for getting the Flickity instance in JavaScript, after it has been initalized in HTML.</p>

``` js
var flkty = Flickity.data( element )
```

<p class="argument">
  <code class="argument__code">element</code>
  <span class="argument__type"><i>Element</i> or Selector <i>String</i></span>
</p>
<p class="argument">
  <code class="argument__code">flkty</code>
  <span class="argument__type"><i>Flickity</i></span>
</p>

<div class="example">
  <div class="example__code">
``` html
<!-- init Flickity in HTML -->
<div class="main-gallery js-flickity">...</div>
```

``` js
// jQuery
// pass in the element, $element[0], not the jQuery object
var flkty = Flickity.data( $('.main-gallery')[0] )
// vanilla JS
var gallery = document.querySelector('.main-gallery')
var flkty = Flickity.data( gallery )
// using a selector string
var flkty = Flickity.data('.main-gallery')
```
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h2>Properties</h2>

<div class="call-out">
  <p>Properties are accessed only on Flickity instances. If you initialized Flickity with jQuery, use <code>.data(<span class="string">'flickity'</span>)</code> to get the instance.</p>

``` js
// init Flickity with jQuery
var $gallery = $('.gallery').flickity();
// get instance
var flkty = $gallery.data('flickity');
// access properties
console.log( flkty.selectedIndex, flkty.selectedElement );
```
</div>

<h3>selectedIndex</h3>

<p>The selected index.</p>

``` js
flkty.selectedIndex
```

{{! ----------------------------------------------------------------- }}

<h3>selectedElement</h3>

<p>The selected cell element.</p>

``` js
flkty.selectedElement
```

{{! ----------------------------------------------------------------- }}

<h2>Events</h2>

<h3>jQuery event binding</h3>

<p>Bind events with jQuery with standard jQuery event methods <code>.on()</code>, <code>.off()</code>, and <code>.one()</code>.</p>

``` js
// jQuery
function listener(/* parameters */) {
  console.log('eventName happened');
}
// bind event listener
$gallery.on( 'eventName', listener );
// unbind event listener
$gallery.off( 'eventName', listener );
// bind event listener to trigger once. note ONE not ON
$gallery.one( 'eventName', function() {
  console.log('eventName happened just once');
});
```

<h3>Vanilla JS event binding</h3>

<p>Bind events with vanilla JS with <code>.on()</code>, <code>.off()</code>, and <code>.once()</code> methods.</p>

``` js
// vanilla JS
function listener(/* parameters */) {
  console.log('eventName happened');
}
// bind event listener
flkty.on( 'eventName', listener );
// unbind event listener
flkty.off( 'eventName', listener );
// bind event listener to trigger once. note ONCE not ONE or ON
flkty.once( 'eventName', function() {
  console.log('eventName happened just once');
});
```

{{! ----------------------------------------------------------------- }}

<h3>Events demo</h3>

<p>Play around with this gallery to see how events are triggered.</p>

<div class="example duo" data-js-module="events">
  <div class="example__demo duo__cell">
    <div class="gallery">
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
  </div>
  <div class="duo__cell">
    <table class="event-table">
      <tr>
        <th class="event-table__time">Time</th>
        <th class="event-table__event">Event</th>
        <th class="event-table__message"></th>
      </tr>
    </table>
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>cellSelect</h3>

<p>Triggered when a cell is selected.</p>

``` js
// jQuery
$gallery.on( 'cellSelect', function() {
  console.log( 'Flickity select ' + flkty.selectedIndex )
})
// vanilla JS
flkty.on( 'cellSelect', function() {...})
```

{{#codepens.cell_select_event}}
  {{>edit_demo}}
{{/codepens.cell_select_event}}

{{! ----------------------------------------------------------------- }}

<h3>settle</h3>

<p>Triggered when the slider is settled at its end position.</p>

``` js
// jQuery
$gallery.on( 'settle', function() {
  console.log( 'Flickity settled at ' + flkty.selectedIndex )
})
// vanilla JS
flkty.on( 'settle', function() {...})
```

{{#codepens.settle_event}}
  {{>edit_demo}}
{{/codepens.settle_event}}

{{! ----------------------------------------------------------------- }}

<h3>dragStart</h3>

<p>Triggered when dragging starts and the slider starts moving.</p>

``` js
// jQuery
$gallery.on( 'dragStart', function( event, pointer ) {...})
// vanilla JS
flkty.on( 'dragStart', function( event, pointer ) {...})
```

<p class="argument">
  <code class="argument__code"><span class="params">event</span></code>
  <span class="argument__type"><i>Event</i></span>
  <span class="argument__description">Original <code>event</code> object, like <code>mousedown</code>, <code>touchstart</code>, or <code>pointerdown</code>.</span>
</p>
<p class="argument">
  <code class="argument__code"><span class="params">pointer</span></code>
  <span class="argument__type"><i>Event</i> or <i>Touch</i></span>
  <span class="argument__description">The event object that has <code>.pageX</code> and <code>.pageY</code>.</span>
</p>

{{#codepens.drag_start}}
  {{>edit_demo}}
{{/codepens.drag_start}}

{{! ----------------------------------------------------------------- }}

<h3>dragMove</h3>

<p>Triggered when dragging moves and the slider moves.</p>

``` js
// jQuery
$gallery.on( 'dragMove', function( event, pointer, moveVector ) {...})
// vanilla JS
flkty.on( 'dragMove', function( event, pointer, moveVector ) {...})
```

<p class="argument">
  <code class="argument__code"><span class="params">event</span></code>
  <span class="argument__type"><i>Event</i></span>
  <span class="argument__description">Original <code>event</code> object, like <code>mousemove</code>, <code>touchmove</code>, or <code>pointermove</code>.</span>
</p>
<p class="argument">
  <code class="argument__code"><span class="params">pointer</span></code>
  <span class="argument__type"><i>Event</i> or <i>Touch</i></span>
  <span class="argument__description">The event object that has <code>.pageX</code> and <code>.pageY</code>.</span>
</p>
<p class="argument">
  <code class="argument__code"><span class="params">moveVector</span></code>
  <span class="argument__type"><i>Object</i></span>
  <span class="argument__description">How far the pointer has moved from its start position <code>{ x: 20, y: -30 }</code>.</span>
</p>

{{#codepens.drag_move}}
  {{>edit_demo}}
{{/codepens.drag_move}}

{{! ----------------------------------------------------------------- }}

<h3>dragEnd</h3>

<p>Triggered when dragging ends.</p>

``` js
// jQuery
$gallery.on( 'dragEnd', function( event, pointer ) {...})
// vanilla JS
flkty.on( 'dragEnd', function( event, pointer ) {...})
```

<p class="argument">
  <code class="argument__code"><span class="params">event</span></code>
  <span class="argument__type"><i>Event</i></span>
  <span class="argument__description">Original <code>event</code> object, like <code>mouseup</code>, <code>touchend</code>, or <code>pointerup</code>.</span>
</p>
<p class="argument">
  <code class="argument__code"><span class="params">pointer</span></code>
  <span class="argument__type"><i>Event</i> or <i>Touch</i></span>
  <span class="argument__description">The event object that has <code>.pageX</code> and <code>.pageY</code>.</span>
</p>

{{#codepens.drag_end}}
  {{>edit_demo}}
{{/codepens.drag_end}}

{{! ----------------------------------------------------------------- }}

<h3>pointerDown</h3>

<p>Triggered when the user's pointer (mouse, touch, pointer) presses down.</p>

``` js
// jQuery
$gallery.on( 'pointerDown', function( event, pointer ) {...})
// vanilla JS
flkty.on( 'pointerDown', function( event, pointer ) {...})
```

<p class="argument">
  <code class="argument__code"><span class="params">event</span></code>
  <span class="argument__type"><i>Event</i></span>
  <span class="argument__description">Original <code>event</code> object, like <code>mousedown</code>, <code>touchstart</code>, or <code>pointerdown</code>.</span>
</p>
<p class="argument">
  <code class="argument__code"><span class="params">pointer</span></code>
  <span class="argument__type"><i>Event</i> or <i>Touch</i></span>
  <span class="argument__description">The event object that has <code>.pageX</code> and <code>.pageY</code>.</span>
</p>

{{#codepens.pointer_down}}
  {{>edit_demo}}
{{/codepens.pointer_down}}

{{! ----------------------------------------------------------------- }}

<h3>pointerMove</h3>

<p>Triggered when the user's pointer moves.</p>

``` js
// jQuery
$gallery.on( 'pointerMove', function( event, pointer, moveVector ) {...})
// vanilla JS
flkty.on( 'pointerMove', function( event, pointer, moveVector ) {...})
```

<p class="argument">
  <code class="argument__code"><span class="params">event</span></code>
  <span class="argument__type"><i>Event</i></span>
  <span class="argument__description">Original <code>event</code> object, like <code>mousemove</code>, <code>touchmove</code>, or <code>pointermove</code>.</span>
</p>
<p class="argument">
  <code class="argument__code"><span class="params">pointer</span></code>
  <span class="argument__type"><i>Event</i> or <i>Touch</i></span>
  <span class="argument__description">The event object that has <code>.pageX</code> and <code>.pageY</code>.</span>
</p>
<p class="argument">
  <code class="argument__code"><span class="params">moveVector</span></code>
  <span class="argument__type"><i>Object</i></span>
  <span class="argument__description">How far the pointer has moved from its start position <code>{ x: 20, y: -30 }</code>.</span>
</p>

{{#codepens.pointer_move}}
  {{>edit_demo}}
{{/codepens.pointer_move}}

{{! ----------------------------------------------------------------- }}

<h3>pointerUp</h3>

<p>Triggered when the user's pointer unpresses.</p>

``` js
// jQuery
$gallery.on( 'pointerUp', function( event, pointer ) {...})
// vanilla JS
flkty.on( 'pointerUp', function( event, pointer ) {...})
```

<p class="argument">
  <code class="argument__code"><span class="params">event</span></code>
  <span class="argument__type"><i>Event</i></span>
  <span class="argument__description">Original <code>event</code> object, like <code>mouseup</code>, <code>touchend</code>, or <code>pointerup</code>.</span>
</p>
<p class="argument">
  <code class="argument__code"><span class="params">pointer</span></code>
  <span class="argument__type"><i>Event</i> or <i>Touch</i></span>
  <span class="argument__description">The event object that has <code>.pageX</code> and <code>.pageY</code>.</span>
</p>

{{#codepens.pointer_up}}
  {{>edit_demo}}
{{/codepens.pointer_up}}

{{! ----------------------------------------------------------------- }}

<h3>staticClick</h3>

<p>Triggered when the user's pointer is pressed and unpressed and has not moved enough to start dragging.</p>

<p><code>click</code> events are hard to detect with draggable UI, as they are triggered whenever a user drags. Flickity's <code>staticClick</code> event resolves this, as it is triggered when the user has not dragged.</p>

``` js
// jQuery
$gallery.on( 'staticClick', function( event, pointer, cellElement, cellIndex ) {...})
// vanilla JS
flkty.on( 'cellSelect', function( event, pointer, cellElement, cellIndex ) {...})
```

<p class="argument">
  <code class="argument__code"><span class="params">event</span></code>
  <span class="argument__type"><i>Event</i></span>
  <span class="argument__description">Original <code>event</code> object.</span>
</p>
<p class="argument">
  <code class="argument__code"><span class="params">pointer</span></code>
  <span class="argument__type"><i>Event</i> or <i>Touch</i></span>
  <span class="argument__description">The event object that has <code>.pageX</code> and <code>.pageY</code>.</span>
</p>
<p class="argument">
  <code class="argument__code"><span class="params">cellElement</span></code>
  <span class="argument__type"><i>Element</i></span>
  <span class="argument__description">If a cell was clicked, the element.</span>
</p>
<p class="argument">
  <code class="argument__code"><span class="params">cellIndex</span></code>
  <span class="argument__type"><i>Integer</i></span>
  <span class="argument__description">If a cell was clicked, the cell&rsquo;s zero-based index.</span>
</p>

<p>Use the <code><span class="params">cellElement</span></code> and <code><span class="params">cellIndex</span></code> parameters to detect what cell was clicked.</p>

<div class="example">
  <div class="example__code">
    ``` js
    $gallery.on( 'staticClick', function( event, pointer, cellElement, cellIndex ) {
      // dismiss if cell was not clicked
      if ( !cellElement ) {
        return;
      }
      // change cell background with .is-clicked
      $gallery.find('.is-clicked').removeClass('is-clicked');
      $( cellElement ).addClass('is-clicked');
      $logger.text( 'Cell ' + ( cellIndex + 1 )  + ' clicked' );
    });
    ```
  </div>
  <div class="example__demo" data-js-module="static-click">
    <p class="example__demo__instruction">Click cells</p>
    <div class="gallery gallery--static-click">
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    <p class="logger">&nbsp;</p>
    {{#codepens.static_click}}
      {{>edit_demo}}
    {{/codepens.static_click}}
  </div>
</div>

{{! ----------------------------------------------------------------- }}
