---
title: API
---

<h2>Methods</h2>

<p>Methods are actions done by Flickity instances.</p>

<p>With jQuery, methods follow the jQuery UI pattern
  <code>$carousel.flickity( <span class="string">'methodName'</span> <span class="comment">/*, arguments */</span> )</code>.</p>

``` js
var $carousel = $('.carousel').flickity()
  .flickity('next')
  .flickity( 'select', 4 );
```

<div class="call-out">
  <p>jQuery chaining is broken by methods that return values: <code>getCellElements</code>, <code>on</code>, <code>off</code>.</p>
</div>

<p>Vanilla JavaScript methods look like
  <code>flickity.methodName( <span class="comment">/* arguments */</span> )</code>. Unlike jQuery methods, they cannot be chained together.</p>

``` js
// vanilla JS
var flkty = new Flickity('.carousel');
flkty.next();
flkty.select( 3 );
```

<h2>Selecting cells</h2>

<h3>select</h3>

<p>Select a cell.</p>

``` js
// jQuery
$carousel.flickity( 'select', index, isWrapped, isInstant )
// vanilla JS
flkty.select( index, isWrapped, isInstant )
```

<p class="argument">
  <code class="argument__code">index</code>
  <span class="argument__type"><i>Integer</i></span>
  <span class="argument__description">Zero-based index of the cell to select.</span>
</p>
<p class="argument">
  <code class="argument__code">isWrapped</code>
  <span class="argument__type"><i>Boolean</i></span>
  <span class="argument__description">Optional. If <code><span class="literal">true</span></code>, the last cell will be selected if at the first cell.</span>
</p>
<p class="argument">
  <code class="argument__code">isInstant</code>
  <span class="argument__type"><i>Boolean</i></span>
  <span class="argument__description">If <code><span class="literal">true</span></code>, immediately view the selected cell without animation.</span>
</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    $('.button-group').on( 'click', '.button', function() {
      var index = $(this).index();
      $carousel.flickity( 'select', index );
    });
    ```
  </div>
  {{> select }}
</div>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    // select cell instantly, without animation
    $('.button-group').on( 'click', '.button', function() {
      var index = $(this).index();
      $carousel.flickity( 'select', index, false, true );
    });
    ```
  </div>
  {{> select-instant }}
</div>

{{! ----------------------------------------------------------------- }}

<h3>previous</h3>

<p>Select the previous cell.</p>

``` js
// jQuery
$carousel.flickity( 'previous', isWrapped )
// vanilla JS
flkty.previous( isWrapped )
```

<p class="argument">
  <code class="argument__code">isWrapped</code>
  <span class="argument__type"><i>Boolean</i></span>
  <span class="argument__description">Optional. If <code><span class="literal">true</span></code>, the last cell will be selected if at the first cell.</span>
</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    // previous
    $('.button--previous').on( 'click', function() {
      $carousel.flickity('previous');
    });
    // previous wrapped
    $('.button--previous-wrapped').on( 'click', function() {
      $carousel.flickity( 'previous', true );
    });
    ```
  </div>
  {{> previous }}
</div>

{{! ----------------------------------------------------------------- }}

<h3>next</h3>

<p>Select the next cell.</p>

``` js
// jQuery
$carousel.flickity( 'next', isWrapped )
// vanilla JS
flkty.next( isWrapped )
```

<p class="argument">
  <code class="argument__code">isWrapped</code>
  <span class="argument__type"><i>Boolean</i></span>
  <span class="argument__description">Optional. If <code><span class="literal">true</span></code>, the first cell will be selected if at the last cell.</span>
</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    // next
    $('.button--next').on( 'click', function() {
      $carousel.flickity('next');
    });
    // next wrapped
    $('.button--next-wrapped').on( 'click', function() {
      $carousel.flickity( 'next', true );
    });
    ```
  </div>
  {{> next }}
</div>

{{! ----------------------------------------------------------------- }}

<h2>Sizing and positioning</h2>

<h3>resize</h3>

<p>Resize the carousel and re-position cells.</p>

``` js
// jQuery
$carousel.flickity('resize')
// vanilla JS
flkty.resize()
```

<div class="example">
  <div class="example__code">
    <div class="duo">
      <div class="duo__cell">
        ``` js
        $('.button--resize').on( 'click', function() {
          // expand carousel by toggling class
          $carousel.toggleClass('is-expanded')
            .flickity('resize');
        });
        ```
      </div>
      <div class="duo__cell">
        ``` css
        .carousel { width: 50%; }
        .carousel.is-expanded { width: 100%; }

        .carousel.is-expanded .carousel-cell {
          height: 320px;
        }
        ```
      </div>
    </div>

  </div>
  {{> resize }}
</div>

<p>If Flickity is initialized when hidden, like within a tab, trigger <code>resize</code> after it is shown so cells are properly measured and positioned.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    $('.button').on( 'click', function() {
      $carousel.show()
        // resize after un-hiding Flickity
        .flickity('resize');
    });
    ```
  </div>
  {{> resize-show }}
</div>

{{! ----------------------------------------------------------------- }}

<h3>reposition</h3>

<p>Position cells at selected position. Trigger <code>reposition</code> after the size of a cell has been changed.</p>

``` js
// jQuery
$carousel.flickity('reposition')
// vanilla JS
flkty.reposition()
```

<div class="example">
  <div class="example__code">
    ``` js
    $carousel.on( 'staticClick', function( event, pointer, cellElement, cellIndex ) {
      if ( !cellElement ) {
        return;
      }
      $( cellElement ).toggleClass('is-expanded');
      $carousel.flickity('reposition');
    });
    ```
  </div>
  {{> reposition }}
</div>


{{! ----------------------------------------------------------------- }}

<h2>Adding and removing cells</h2>

<h3>prepend</h3>

<p>Prepend elements and create cells to the beginning of the carousel.</p>

``` js
// jQuery
$carousel.flickity( 'prepend', elements )
// vanilla JS
flkty.prepend( elements )
```

<p class="argument">
  <code class="argument__code">elements</code>
  <span class="argument__type"><i>jQuery</i> object, <i>Array</i> of <i>Elements</i>, <i>Element</i>, or <i>NodeList</i></span>
</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    $('.button').on( 'click', function() {
      var $cellElems = $('<div class="carousel-cell">...</div>');
      $carousel.flickity( 'prepend', $cellElems );
    });
    ```
  </div>
  {{> prepend }}
</div>

{{! ----------------------------------------------------------------- }}

<h3>append</h3>

<p>Append elements and create cells to the end of the carousel.</p>

``` js
// jQuery
$carousel.flickity( 'append', elements )
// vanilla JS
flkty.append( elements )
```

<p class="argument">
  <code class="argument__code">elements</code>
  <span class="argument__type"><i>jQuery</i> object, <i>Array</i> of <i>Elements</i>, <i>Element</i>, or <i>NodeList</i></span>
</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    $('.button').on( 'click', function() {
      var $cellElems = $('<div class="carousel-cell">...</div>');
      $carousel.flickity( 'append', $cellElems );
    });
    ```
  </div>
  {{> append }}
</div>

{{! ----------------------------------------------------------------- }}

<h3>insert</h3>

<p>Insert elements into the carousel and create cells.</p>

``` js
// jQuery
$carousel.flickity( 'insert', elements, index )
// vanilla JS
flkty.insert( elements, index )
```

<p class="argument">
  <code class="argument__code">elements</code>
  <span class="argument__type"><i>jQuery</i> object, <i>Array</i> of <i>Elements</i>, <i>Element</i>, or <i>NodeList</i></span>
</p>

<p class="argument">
  <code class="argument__code">index</code>
  <span class="argument__type"><i>Integer</i></span>
  <span class="argument__description">Zero-based index to insert elements.</span>
</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    $('.button').on( 'click', function() {
      var $cellElems = $('<div class="carousel-cell">...</div>');
      $carousel.flickity( 'insert', $cellElems, 1 );
    });
    ```
  </div>
  <div class="duo__cell example__demo" data-js-module="insert">
    <div class="button-row">
      <button class="button">Insert cells after 2nd</button>
    </div>
    <div class="carousel carousel--not-counting carousel--show-several">
      <div class="carousel-cell">
        <span class="carousel-cell__number">1</span>
      </div>
      <div class="carousel-cell">
        <span class="carousel-cell__number">2</span>
      </div>
      <div class="carousel-cell">
        <span class="carousel-cell__number">3</span>
      </div>
    </div>
    {{> edit-demo default="YPeNYj" vanilla_js="EaQZQv" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>remove</h3>

<p>Remove cells from carousel and remove elements from DOM.</p>

``` js
// jQuery
$carousel.flickity( 'remove', elements )
// vanilla JS
flkty.remove( elements )
```

<p class="argument">
  <code class="argument__code">elements</code>
  <span class="argument__type"><i>jQuery</i> object, <i>Array</i> of <i>Elements</i>, <i>Element</i>, or <i>NodeList</i></span>
</p>

<div class="example">
  <div class="example__code">
    ``` js
    $('.carousel').on( 'staticClick', function( event, pointer, cellElement, cellIndex ) {
      if ( cellElement ) {
        $carousel.flickity( 'remove', cellElement );
      }
    });
    ```
  </div>
  {{> remove }}
</div>

{{! ----------------------------------------------------------------- }}

<h2>Player</h2>

<p>Control <a href="options.html#autoplay"><code>autoPlay</code></a> behavior.</p>

{{> player }}

{{! ----------------------------------------------------------------- }}

<h3>playPlayer</h3>

<p>Starts auto-play.</p>

<p>Setting <a href="options.html#autoplay"><code>autoPlay</code></a> will automatically start auto-play on initialization. You do not need to start auto-play with <code>playPlayer</code>.</p>

``` js
// jQuery
$carousel.flickity('playPlayer')
// vanilla JS
flkty.playPlayer()
```

{{! ----------------------------------------------------------------- }}

<h3>stopPlayer</h3>

<p>Stops auto-play and cancels pause.</p>

``` js
// jQuery
$carousel.flickity('stopPlayer')
// vanilla JS
flkty.stopPlayer()
```

{{! ----------------------------------------------------------------- }}

<h3>pausePlayer</h3>

<p>Pauses auto-play.</p>

``` js
// jQuery
$carousel.flickity('pausePlayer')
// vanilla JS
flkty.pausePlayer()
```

{{! ----------------------------------------------------------------- }}

<h3>unpausePlayer</h3>

<p>Resumes auto-play if paused.</p>

``` js
// jQuery
$carousel.flickity('unpausePlayer')
// vanilla JS
flkty.unpausePlayer()
```

{{! ----------------------------------------------------------------- }}

<h2>Utilities</h2>

{{! ----------------------------------------------------------------- }}

<h3>destroy</h3>

<p>Remove Flickity functionality completely. <code>destroy</code> will return the element back to its pre-initialized state.</p>

``` js
// jQuery
$carousel.flickity('destroy')
// vanilla JS
flkty.destroy()
```

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    var $carousel = $('.carousel').flickity();
    var isFlickity = true;
    // toggle Flickity on/off
    $('.button--toggle').on( 'click', function() {
      if ( isFlickity ) {
        // destroy Flickity
        $carousel.flickity('destroy');
      } else {
        // init new Flickity
        $carousel.flickity();
      }
      isFlickity = !isFlickity;
    });
    ```
  </div>
  {{> destroy }}
</div>


{{! ----------------------------------------------------------------- }}

<h3>reloadCells</h3>

<p>Re-collect all cell elements in <code>flickity-slider</code>.</p>

``` js
// jQuery
$carousel.flickity('reloadCells')
// vanilla JS
flkty.reloadCells()
```

{{! ----------------------------------------------------------------- }}

<h3>getCellElements</h3>

<p>Get the elements of the cells.</p>

``` js
// jQuery
var cellElements = $carousel.flickity('getCellElements')
// vanilla JS
var cellElements = flkty.getCellElements()
```

<p class="argument">
  <code class="argument__code">cellElements</code>
  <span class="argument__type"><i>Array</i> of <i>Elements</i></span>
</p>

{{! ----------------------------------------------------------------- }}

<h3>jQuery.fn.data('flickity')</h3>

<p>Get the Flickity instance from a jQuery object. Flickity instances are useful to access Flickity properties.</p>

``` js
var flkty = $('.carousel').data('flickity')
// access Flickity properties
console.log( 'carousel at ' + flkty.selectedIndex )
```

{{! ----------------------------------------------------------------- }}

<h3>Flickity.data()</h3>

<p>Get the Flickity instance via its element. <code>Flickity.data()</code> is useful for getting the Flickity instance in JavaScript, after it has been initalized in HTML.</p>

``` js
var flkty = Flickity.data( element )
```

<p class="argument">
  <code class="argument__code">element</code>
  <span class="argument__type"><i>Element</i> or Selector <i>String</i></span>
</p>
<p class="argument">
  <code class="argument__code">flkty</code>
  <span class="argument__type"><i>Flickity</i></span>
</p>

<div class="example">
  <div class="example__code">
``` html
<!-- init Flickity in HTML -->
<div class="main-carousel js-flickity">...</div>
```

``` js
// jQuery
// pass in the element, $element[0], not the jQuery object
var flkty = Flickity.data( $('.main-carousel')[0] )
// vanilla JS
var carousel = document.querySelector('.main-carousel')
var flkty = Flickity.data( carousel )
// using a selector string
var flkty = Flickity.data('.main-carousel')
```
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h2>Properties</h2>

<div class="call-out">
  <p>Properties are accessed only on Flickity instances. If you initialized Flickity with jQuery, use <code>.data(<span class="string">'flickity'</span>)</code> to get the instance.</p>

``` js
// init Flickity with jQuery
var $carousel = $('.carousel').flickity();
// get instance
var flkty = $carousel.data('flickity');
// access properties
console.log( flkty.selectedIndex, flkty.selectedElement );
```
</div>

<h3>selectedIndex</h3>

<p>The selected index.</p>

``` js
flkty.selectedIndex
```

{{! ----------------------------------------------------------------- }}

<h3>selectedElement</h3>

<p>The selected cell element.</p>

``` js
flkty.selectedElement
```

{{! ----------------------------------------------------------------- }}

<h3>cells</h3>

<p>The array of cells. Use <code>cells.length</code> for the total number of cells.</p>

``` js
flkty.cells
// -> array of cells
flkty.cells.length
// -> total number of cells
```

{{! ----------------------------------------------------------------- }}

<h2>Events</h2>

<h3>jQuery event binding</h3>

<p>Bind events with jQuery with standard jQuery event methods <code>.on()</code>, <code>.off()</code>, and <code>.one()</code>.</p>

``` js
// jQuery
function listener(/* parameters */) {
  console.log('eventName happened');
}
// bind event listener
$carousel.on( 'eventName', listener );
// unbind event listener
$carousel.off( 'eventName', listener );
// bind event listener to trigger once. note ONE not ON
$carousel.one( 'eventName', function() {
  console.log('eventName happened just once');
});
```

<h3>Vanilla JS event binding</h3>

<p>Bind events with vanilla JS with <code>.on()</code>, <code>.off()</code>, and <code>.once()</code> methods.</p>

``` js
// vanilla JS
function listener(/* parameters */) {
  console.log('eventName happened');
}
// bind event listener
flkty.on( 'eventName', listener );
// unbind event listener
flkty.off( 'eventName', listener );
// bind event listener to trigger once. note ONCE not ONE or ON
flkty.once( 'eventName', function() {
  console.log('eventName happened just once');
});
```

{{! ----------------------------------------------------------------- }}

<h3>Events demo</h3>

<p>Play around with this carousel to see how events are triggered.</p>

{{> events-table }}

{{! ----------------------------------------------------------------- }}

<h3>cellSelect</h3>

<p>Triggered when a cell is selected.</p>

``` js
// jQuery
$carousel.on( 'cellSelect', function() {
  console.log( 'Flickity select ' + flkty.selectedIndex )
})
// vanilla JS
flkty.on( 'cellSelect', function() {...})
```

{{> edit-demo default="emVgqE" vanilla_js="ogEwXe" }}

{{! ----------------------------------------------------------------- }}

<h3>settle</h3>

<p>Triggered when the slider is settled at its end position.</p>

``` js
// jQuery
$carousel.on( 'settle', function() {
  console.log( 'Flickity settled at ' + flkty.selectedIndex )
})
// vanilla JS
flkty.on( 'settle', function() {...})
```

{{> edit-demo default="yyvXYL" vanilla_js="myXweK" }}

{{! ----------------------------------------------------------------- }}

<h3>dragStart</h3>

<p>Triggered when dragging starts and the slider starts moving.</p>

``` js
// jQuery
$carousel.on( 'dragStart', function( event, pointer ) {...})
// vanilla JS
flkty.on( 'dragStart', function( event, pointer ) {...})
```

<p class="argument">
  <code class="argument__code"><span class="params">event</span></code>
  <span class="argument__type"><i>Event</i></span>
  <span class="argument__description">Original <code>event</code> object, like <code>mousedown</code>, <code>touchstart</code>, or <code>pointerdown</code>.</span>
</p>
<p class="argument">
  <code class="argument__code"><span class="params">pointer</span></code>
  <span class="argument__type"><i>Event</i> or <i>Touch</i></span>
  <span class="argument__description">The event object that has <code>.pageX</code> and <code>.pageY</code>.</span>
</p>

{{> edit-demo default="KwQqWw" vanilla_js="RNQgpB" }}

{{! ----------------------------------------------------------------- }}

<h3>dragMove</h3>

<p>Triggered when dragging moves and the slider moves.</p>

``` js
// jQuery
$carousel.on( 'dragMove', function( event, pointer, moveVector ) {...})
// vanilla JS
flkty.on( 'dragMove', function( event, pointer, moveVector ) {...})
```

<p class="argument">
  <code class="argument__code"><span class="params">event</span></code>
  <span class="argument__type"><i>Event</i></span>
  <span class="argument__description">Original <code>event</code> object, like <code>mousemove</code>, <code>touchmove</code>, or <code>pointermove</code>.</span>
</p>
<p class="argument">
  <code class="argument__code"><span class="params">pointer</span></code>
  <span class="argument__type"><i>Event</i> or <i>Touch</i></span>
  <span class="argument__description">The event object that has <code>.pageX</code> and <code>.pageY</code>.</span>
</p>
<p class="argument">
  <code class="argument__code"><span class="params">moveVector</span></code>
  <span class="argument__type"><i>Object</i></span>
  <span class="argument__description">How far the pointer has moved from its start position <code>{ x: 20, y: -30 }</code>.</span>
</p>

{{> edit-demo default="azqwWW" vanilla_js="YPeQVL" }}

{{! ----------------------------------------------------------------- }}

<h3>dragEnd</h3>

<p>Triggered when dragging ends.</p>

``` js
// jQuery
$carousel.on( 'dragEnd', function( event, pointer ) {...})
// vanilla JS
flkty.on( 'dragEnd', function( event, pointer ) {...})
```

<p class="argument">
  <code class="argument__code"><span class="params">event</span></code>
  <span class="argument__type"><i>Event</i></span>
  <span class="argument__description">Original <code>event</code> object, like <code>mouseup</code>, <code>touchend</code>, or <code>pointerup</code>.</span>
</p>
<p class="argument">
  <code class="argument__code"><span class="params">pointer</span></code>
  <span class="argument__type"><i>Event</i> or <i>Touch</i></span>
  <span class="argument__description">The event object that has <code>.pageX</code> and <code>.pageY</code>.</span>
</p>

{{> edit-demo default="ByYZRb" vanilla_js="jEZwwO" }}

{{! ----------------------------------------------------------------- }}

<h3>pointerDown</h3>

<p>Triggered when the user's pointer (mouse, touch, pointer) presses down.</p>

``` js
// jQuery
$carousel.on( 'pointerDown', function( event, pointer ) {...})
// vanilla JS
flkty.on( 'pointerDown', function( event, pointer ) {...})
```

<p class="argument">
  <code class="argument__code"><span class="params">event</span></code>
  <span class="argument__type"><i>Event</i></span>
  <span class="argument__description">Original <code>event</code> object, like <code>mousedown</code>, <code>touchstart</code>, or <code>pointerdown</code>.</span>
</p>
<p class="argument">
  <code class="argument__code"><span class="params">pointer</span></code>
  <span class="argument__type"><i>Event</i> or <i>Touch</i></span>
  <span class="argument__description">The event object that has <code>.pageX</code> and <code>.pageY</code>.</span>
</p>

{{> edit-demo default="zxRzzZ" vanilla_js="ByYZZE" }}

{{! ----------------------------------------------------------------- }}

<h3>pointerMove</h3>

<p>Triggered when the user's pointer moves.</p>

``` js
// jQuery
$carousel.on( 'pointerMove', function( event, pointer, moveVector ) {...})
// vanilla JS
flkty.on( 'pointerMove', function( event, pointer, moveVector ) {...})
```

<p class="argument">
  <code class="argument__code"><span class="params">event</span></code>
  <span class="argument__type"><i>Event</i></span>
  <span class="argument__description">Original <code>event</code> object, like <code>mousemove</code>, <code>touchmove</code>, or <code>pointermove</code>.</span>
</p>
<p class="argument">
  <code class="argument__code"><span class="params">pointer</span></code>
  <span class="argument__type"><i>Event</i> or <i>Touch</i></span>
  <span class="argument__description">The event object that has <code>.pageX</code> and <code>.pageY</code>.</span>
</p>
<p class="argument">
  <code class="argument__code"><span class="params">moveVector</span></code>
  <span class="argument__type"><i>Object</i></span>
  <span class="argument__description">How far the pointer has moved from its start position <code>{ x: 20, y: -30 }</code>.</span>
</p>

{{> edit-demo default="XJZgap" vanilla_js="JoLZMP" }}

{{! ----------------------------------------------------------------- }}

<h3>pointerUp</h3>

<p>Triggered when the user's pointer unpresses.</p>

``` js
// jQuery
$carousel.on( 'pointerUp', function( event, pointer ) {...})
// vanilla JS
flkty.on( 'pointerUp', function( event, pointer ) {...})
```

<p class="argument">
  <code class="argument__code"><span class="params">event</span></code>
  <span class="argument__type"><i>Event</i></span>
  <span class="argument__description">Original <code>event</code> object, like <code>mouseup</code>, <code>touchend</code>, or <code>pointerup</code>.</span>
</p>
<p class="argument">
  <code class="argument__code"><span class="params">pointer</span></code>
  <span class="argument__type"><i>Event</i> or <i>Touch</i></span>
  <span class="argument__description">The event object that has <code>.pageX</code> and <code>.pageY</code>.</span>
</p>

{{> edit-demo default="qExjXV" vanilla_js="pvawrj" }}

{{! ----------------------------------------------------------------- }}

<h3>staticClick</h3>

<p>Triggered when the user's pointer is pressed and unpressed and has not moved enough to start dragging.</p>

<p><code>click</code> events are hard to detect with draggable UI, as they are triggered whenever a user drags. Flickity's <code>staticClick</code> event resolves this, as it is triggered when the user has not dragged.</p>

``` js
// jQuery
$carousel.on( 'staticClick', function( event, pointer, cellElement, cellIndex ) {...})
// vanilla JS
flkty.on( 'staticClick', function( event, pointer, cellElement, cellIndex ) {...})
```

<p class="argument">
  <code class="argument__code"><span class="params">event</span></code>
  <span class="argument__type"><i>Event</i></span>
  <span class="argument__description">Original <code>event</code> object.</span>
</p>
<p class="argument">
  <code class="argument__code"><span class="params">pointer</span></code>
  <span class="argument__type"><i>Event</i> or <i>Touch</i></span>
  <span class="argument__description">The event object that has <code>.pageX</code> and <code>.pageY</code>.</span>
</p>
<p class="argument">
  <code class="argument__code"><span class="params">cellElement</span></code>
  <span class="argument__type"><i>Element</i></span>
  <span class="argument__description">If a cell was clicked, the element.</span>
</p>
<p class="argument">
  <code class="argument__code"><span class="params">cellIndex</span></code>
  <span class="argument__type"><i>Integer</i></span>
  <span class="argument__description">If a cell was clicked, the cell&rsquo;s zero-based index.</span>
</p>

<p>Use the <code><span class="params">cellElement</span></code> and <code><span class="params">cellIndex</span></code> parameters to detect what cell was clicked.</p>

<div class="example">
  <div class="example__code">
    ``` js
    $carousel.on( 'staticClick', function( event, pointer, cellElement, cellIndex ) {
      // dismiss if cell was not clicked
      if ( !cellElement ) {
        return;
      }
      // change cell background with .is-clicked
      $carousel.find('.is-clicked').removeClass('is-clicked');
      $( cellElement ).addClass('is-clicked');
      $logger.text( 'Cell ' + ( cellIndex + 1 )  + ' clicked' );
    });
    ```
  </div>
  {{> static-click }}
</div>

{{! ----------------------------------------------------------------- }}

<h3>lazyLoad</h3>

<p>Triggered after an image has been loaded with <a href="options.html#lazyload"><code>lazyLoad</code></a>.</p>

``` js
// jQuery
$carousel.on( 'lazyLoad', function( event, cellElement ) {...})
// vanilla JS
flkty.on( 'lazyLoad', function( event, cellElement ) {...})
```

<p class="argument">
  <code class="argument__code"><span class="params">event</span></code>
  <span class="argument__type"><i>Event</i></span>
  <span class="argument__description">Original <code>event</code> object.</span>
</p>
<p class="argument">
  <code class="argument__code"><span class="params">cellElement</span></code>
  <span class="argument__type"><i>Element</i></span>
  <span class="argument__description">The image's cell element.</span>
</p>

<p><code>lazyLoad</code> is triggered on both valid images and broken images. Check <code>event.type</code> to see if the loaded image was loaded with <code>load</code> or <code>error</code>. Use <code>event.target</code> to access the loaded image.</p>

``` js
// jQuery
$carousel.on( 'lazyLoad', function( event, cellElement ) {
  var img = event.originalEvent.target;
  console.log( event.originalEvent.type, img.src );
  // load or error on src
});

// vanilla JS
flkty.on( 'lazyLoad', function( event, cellElement ) {
  var img = event.target;
  console.log( event.type, img.src );
});
```

{{> edit-demo default="RPqMra" vanilla_js="VLVXjv" }}

{{! ----------------------------------------------------------------- }}
