---
title: API
---

<h2>Methods</h2>

<p>Methods are actions done by Flickity instances.</p>

<p>With jQuery, methods follow the jQuery UI pattern
  <code>$carousel.flickity( <span class="string">'methodName'</span> <span class="comment">/*, arguments */</span> )</code>.</p>

``` js
var $carousel = $('.carousel').flickity()
  .flickity('next')
  .flickity( 'select', 4 );
```

<div class="call-out">
  <p>jQuery chaining is broken by methods that return values: <code>getCellElements</code>, <code>on</code>, <code>off</code>.</p>
</div>

<p>Vanilla JavaScript methods look like
  <code>flickity.methodName( <span class="comment">/* arguments */</span> )</code>. Unlike jQuery methods, they cannot be chained together.</p>

``` js
// vanilla JS
var flkty = new Flickity('.carousel');
flkty.next();
flkty.select( 3 );
```

<h2>Selecting slides</h2>

<h3>select</h3>

<p>Select a slide.</p>

``` js
// jQuery
$carousel.flickity( 'select', index, isWrapped, isInstant )
// vanilla JS
flkty.select( index, isWrapped, isInstant )
```

<p class="argument">
  <code class="argument__code">index</code>
  <span class="argument__type"><i>Integer</i></span>
  <span class="argument__description">Zero-based index of the slide to select.</span>
</p>
<p class="argument">
  <code class="argument__code">isWrapped</code>
  <span class="argument__type"><i>Boolean</i></span>
  <span class="argument__description">Optional. If <code><span class="literal">true</span></code>, the last slide will be selected if at the first slide.</span>
</p>
<p class="argument">
  <code class="argument__code">isInstant</code>
  <span class="argument__type"><i>Boolean</i></span>
  <span class="argument__description">If <code><span class="literal">true</span></code>, immediately view the selected slide without animation.</span>
</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    $('.button-group').on( 'click', '.button', function() {
      var index = $(this).index();
      $carousel.flickity( 'select', index );
    });
    ```
  </div>
  {{> select }}
</div>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    // select cell instantly, without animation
    $('.button-group').on( 'click', '.button', function() {
      var index = $(this).index();
      $carousel.flickity( 'select', index, false, true );
    });
    ```
  </div>
  {{> select-instant }}
</div>

{{! ----------------------------------------------------------------- }}

<h3>previous</h3>

<p>Select the previous slide.</p>

``` js
// jQuery
$carousel.flickity( 'previous', isWrapped )
// vanilla JS
flkty.previous( isWrapped )
```

<p class="argument">
  <code class="argument__code">isWrapped</code>
  <span class="argument__type"><i>Boolean</i></span>
  <span class="argument__description">Optional. If <code><span class="literal">true</span></code>, the last slide will be selected if at the first slide.</span>
</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    // previous
    $('.button--previous').on( 'click', function() {
      $carousel.flickity('previous');
    });
    // previous wrapped
    $('.button--previous-wrapped').on( 'click', function() {
      $carousel.flickity( 'previous', true );
    });
    ```
  </div>
  {{> previous }}
</div>

{{! ----------------------------------------------------------------- }}

<h3>next</h3>

<p>Select the next slide.</p>

``` js
// jQuery
$carousel.flickity( 'next', isWrapped )
// vanilla JS
flkty.next( isWrapped )
```

<p class="argument">
  <code class="argument__code">isWrapped</code>
  <span class="argument__type"><i>Boolean</i></span>
  <span class="argument__description">Optional. If <code><span class="literal">true</span></code>, the first slide will be selected if at the last slide.</span>
</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    // next
    $('.button--next').on( 'click', function() {
      $carousel.flickity('next');
    });
    // next wrapped
    $('.button--next-wrapped').on( 'click', function() {
      $carousel.flickity( 'next', true );
    });
    ```
  </div>
  {{> next }}
</div>

{{! ----------------------------------------------------------------- }}

<h3>selectCell</h3>

<p>Select a slide of a cell. Useful for <a href="options.html#groupcells">groupCells</a>.</p>

``` js
// jQuery
$carousel.flickity( 'selectCell', value, isWrapped, isInstant )
// vanilla JS
flkty.selectCell( value, isWrapped, isInstant )
```

<p class="argument">
  <code class="argument__code">value</code>
  <span class="argument__type"><i>Integer</i> or selector <i>String</i></span>
  <span class="argument__description">Zero-based index OR selector string of the cell to select.</span>
</p>
<p class="argument">
  <code class="argument__code">isWrapped</code>
  <span class="argument__type"><i>Boolean</i></span>
  <span class="argument__description">Optional. If <code><span class="literal">true</span></code>, the last slide will be selected if at the first slide.</span>
</p>
<p class="argument">
  <code class="argument__code">isInstant</code>
  <span class="argument__type"><i>Boolean</i></span>
  <span class="argument__description">If <code><span class="literal">true</span></code>, immediately view the selected slide without animation.</span>
</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    $('.button-group').on( 'click', '.button', function() {
      var index = $(this).index();
      $carousel.flickity( 'selectCell', index );
    });
    ```
  </div>
  {{> select-cell }}
</div>

<p>You can select a cell with a selector string.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` html
    <div class="carousel">
      <div class="cell1"></div>
      <div class="cell2"></div>
      <div class="cell3"></div>
      ...
    </div>
    ```

    ``` js
    $carousel.flickity( 'selectCell', '.cell2' );
    ```
  </div>
  {{> select-cell-selector }}
</div>

{{! ----------------------------------------------------------------- }}

<h2>Sizing and positioning</h2>

{{! ----------------------------------------------------------------- }}

<h3>resize</h3>

<p>Resize the carousel and re-position cells.</p>

``` js
// jQuery
$carousel.flickity('resize')
// vanilla JS
flkty.resize()
```

<div class="example">
  <div class="example__code">
    <div class="duo">
      <div class="duo__cell">
        ``` js
        $('.button--resize').on( 'click', function() {
          // expand carousel by toggling class
          $carousel.toggleClass('is-expanded')
            .flickity('resize');
        });
        ```
      </div>
      <div class="duo__cell">
        ``` css
        .carousel { width: 50%; }
        .carousel.is-expanded { width: 100%; }

        .carousel.is-expanded .carousel-cell {
          height: 320px;
        }
        ```
      </div>
    </div>

  </div>
  {{> resize }}
</div>

<p>If Flickity is initialized when hidden, like within a tab, trigger <code>resize</code> after it is shown so cells are properly measured and positioned.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    $('.button').on( 'click', function() {
      $carousel.show()
        // resize after un-hiding Flickity
        .flickity('resize');
    });
    ```
  </div>
  {{> resize-show }}
</div>

{{! ----------------------------------------------------------------- }}

<h3>reposition</h3>

<p>Position cells at selected position. Trigger <code>reposition</code> after the size of a cell has been changed.</p>

``` js
// jQuery
$carousel.flickity('reposition')
// vanilla JS
flkty.reposition()
```

<div class="example">
  <div class="example__code">
    ``` js
    $carousel.on( 'staticClick', function( event, pointer, cellElement, cellIndex ) {
      if ( !cellElement ) {
        return;
      }
      $( cellElement ).toggleClass('is-expanded');
      $carousel.flickity('reposition');
    });
    ```
  </div>
  {{> reposition }}
</div>


{{! ----------------------------------------------------------------- }}

<h2>Adding and removing cells</h2>

<h3>prepend</h3>

<p>Prepend elements and create cells to the beginning of the carousel.</p>

``` js
// jQuery
$carousel.flickity( 'prepend', elements )
// vanilla JS
flkty.prepend( elements )
```

<p class="argument">
  <code class="argument__code">elements</code>
  <span class="argument__type"><i>jQuery</i> object, <i>Array</i> of <i>Elements</i>, <i>Element</i>, or <i>NodeList</i></span>
</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    $('.button').on( 'click', function() {
      var $cellElems = $('<div class="carousel-cell">...</div>');
      $carousel.flickity( 'prepend', $cellElems );
    });
    ```
  </div>
  {{> prepend }}
</div>

{{! ----------------------------------------------------------------- }}

<h3>append</h3>

<p>Append elements and create cells to the end of the carousel.</p>

``` js
// jQuery
$carousel.flickity( 'append', elements )
// vanilla JS
flkty.append( elements )
```

<p class="argument">
  <code class="argument__code">elements</code>
  <span class="argument__type"><i>jQuery</i> object, <i>Array</i> of <i>Elements</i>, <i>Element</i>, or <i>NodeList</i></span>
</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    $('.button').on( 'click', function() {
      var $cellElems = $('<div class="carousel-cell">...</div>');
      $carousel.flickity( 'append', $cellElems );
    });
    ```
  </div>
  {{> append }}
</div>

{{! ----------------------------------------------------------------- }}

<h3>insert</h3>

<p>Insert elements into the carousel and create cells.</p>

``` js
// jQuery
$carousel.flickity( 'insert', elements, index )
// vanilla JS
flkty.insert( elements, index )
```

<p class="argument">
  <code class="argument__code">elements</code>
  <span class="argument__type"><i>jQuery</i> object, <i>Array</i> of <i>Elements</i>, <i>Element</i>, or <i>NodeList</i></span>
</p>

<p class="argument">
  <code class="argument__code">index</code>
  <span class="argument__type"><i>Integer</i></span>
  <span class="argument__description">Zero-based index to insert elements.</span>
</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    $('.button').on( 'click', function() {
      var $cellElems = $('<div class="carousel-cell">...</div>');
      $carousel.flickity( 'insert', $cellElems, 1 );
    });
    ```
  </div>
  <div class="duo__cell example__demo" data-js-module="insert">
    <div class="button-row">
      <button class="button">Insert cells after 2nd</button>
    </div>
    <div class="carousel carousel--not-counting carousel--show-several">
      <div class="carousel-cell">
        <span class="carousel-cell__number">1</span>
      </div>
      <div class="carousel-cell">
        <span class="carousel-cell__number">2</span>
      </div>
      <div class="carousel-cell">
        <span class="carousel-cell__number">3</span>
      </div>
    </div>
    {{> edit-demo default="YPeNYj" vanilla_js="EaQZQv" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>remove</h3>

<p>Remove cells from carousel and remove elements from DOM.</p>

``` js
// jQuery
$carousel.flickity( 'remove', elements )
// vanilla JS
flkty.remove( elements )
```

<p class="argument">
  <code class="argument__code">elements</code>
  <span class="argument__type"><i>jQuery</i> object, <i>Array</i> of <i>Elements</i>, <i>Element</i>, or <i>NodeList</i></span>
</p>

<div class="example">
  <div class="example__code">
    ``` js
    $('.carousel').on( 'staticClick', function( event, pointer, cellElement, cellIndex ) {
      if ( cellElement ) {
        $carousel.flickity( 'remove', cellElement );
      }
    });
    ```
  </div>
  {{> remove }}
</div>

{{! ----------------------------------------------------------------- }}

<h2>Player</h2>

<p>Control <a href="options.html#autoplay"><code>autoPlay</code></a> behavior.</p>

{{> player }}

{{! ----------------------------------------------------------------- }}

<h3>playPlayer</h3>

<p>Starts auto-play.</p>

<p>Setting <a href="options.html#autoplay"><code>autoPlay</code></a> will automatically start auto-play on initialization. You do not need to start auto-play with <code>playPlayer</code>.</p>

``` js
// jQuery
$carousel.flickity('playPlayer')
// vanilla JS
flkty.playPlayer()
```

{{! ----------------------------------------------------------------- }}

<h3>stopPlayer</h3>

<p>Stops auto-play and cancels pause.</p>

``` js
// jQuery
$carousel.flickity('stopPlayer')
// vanilla JS
flkty.stopPlayer()
```

{{! ----------------------------------------------------------------- }}

<h3>pausePlayer</h3>

<p>Pauses auto-play.</p>

``` js
// jQuery
$carousel.flickity('pausePlayer')
// vanilla JS
flkty.pausePlayer()
```

{{! ----------------------------------------------------------------- }}

<h3>unpausePlayer</h3>

<p>Resumes auto-play if paused.</p>

``` js
// jQuery
$carousel.flickity('unpausePlayer')
// vanilla JS
flkty.unpausePlayer()
```

{{! ----------------------------------------------------------------- }}

<h2>Utilities</h2>

{{! ----------------------------------------------------------------- }}

<h3>destroy</h3>

<p>Remove Flickity functionality completely. <code>destroy</code> will return the element back to its pre-initialized state.</p>

``` js
// jQuery
$carousel.flickity('destroy')
// vanilla JS
flkty.destroy()
```

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    var $carousel = $('.carousel').flickity();
    var isFlickity = true;
    // toggle Flickity on/off
    $('.button--toggle').on( 'click', function() {
      if ( isFlickity ) {
        // destroy Flickity
        $carousel.flickity('destroy');
      } else {
        // init new Flickity
        $carousel.flickity();
      }
      isFlickity = !isFlickity;
    });
    ```
  </div>
  {{> destroy }}
</div>


{{! ----------------------------------------------------------------- }}

<h3>reloadCells</h3>

<p>Re-collect all cell elements in <code>flickity-slider</code>.</p>

``` js
// jQuery
$carousel.flickity('reloadCells')
// vanilla JS
flkty.reloadCells()
```

{{! ----------------------------------------------------------------- }}

<h3>getCellElements</h3>

<p>Get the elements of the cells.</p>

``` js
// jQuery
var cellElements = $carousel.flickity('getCellElements')
// vanilla JS
var cellElements = flkty.getCellElements()
```

<p class="argument">
  <code class="argument__code">cellElements</code>
  <span class="argument__type"><i>Array</i> of <i>Elements</i></span>
</p>

{{! ----------------------------------------------------------------- }}

<h3>jQuery.fn.data('flickity')</h3>

<p>Get the Flickity instance from a jQuery object. Flickity instances are useful to access Flickity properties.</p>

``` js
var flkty = $('.carousel').data('flickity')
// access Flickity properties
console.log( 'carousel at ' + flkty.selectedIndex )
```

{{! ----------------------------------------------------------------- }}

<h3>Flickity.data()</h3>

<p>Get the Flickity instance via its element. <code>Flickity.data()</code> is useful for getting the Flickity instance in JavaScript, after it has been initalized in HTML.</p>

``` js
var flkty = Flickity.data( element )
```

<p class="argument">
  <code class="argument__code">element</code>
  <span class="argument__type"><i>Element</i> or Selector <i>String</i></span>
</p>
<p class="argument">
  <code class="argument__code">flkty</code>
  <span class="argument__type"><i>Flickity</i></span>
</p>

<div class="example">
  <div class="example__code">
    ``` html
    <!-- init Flickity in HTML -->
    <div class="main-carousel" data-flickity>...</div>
    ```

    ``` js
    // jQuery
    // pass in the element, $element[0], not the jQuery object
    var flkty = Flickity.data( $('.main-carousel')[0] )
    // vanilla JS
    var carousel = document.querySelector('.main-carousel')
    var flkty = Flickity.data( carousel )
    // using a selector string
    var flkty = Flickity.data('.main-carousel')
    ```
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h2>Properties</h2>

<div class="call-out">
  <p>Properties are accessed only on Flickity instances. If you initialized Flickity with jQuery, use <code>.data(<span class="string">'flickity'</span>)</code> to get the instance.</p>

``` js
// init Flickity with jQuery
var $carousel = $('.carousel').flickity();
// get instance
var flkty = $carousel.data('flickity');
// access properties
console.log( flkty.selectedIndex, flkty.selectedElement );
```
</div>

<h3>selectedIndex</h3>

<p>The selected index.</p>

``` js
flkty.selectedIndex
```

{{! ----------------------------------------------------------------- }}

<h3>selectedElement</h3>

<p>The selected cell element.</p>

``` js
flkty.selectedElement
```

{{! ----------------------------------------------------------------- }}

<h3>cells</h3>

<p>The array of cells. Use <code>cells.length</code> for the total number of cells.</p>

``` js
flkty.cells
// -> array of cells
flkty.cells.length
// -> total number of cells
```
