---
is_homepage: true
has_buy_button: true
---

<div class="call-out call-out--chill quick-start">
  <h2>Quick start</h2>

  <p>Start using Flickity in three steps.</p>

  <ol>
    <li>
      <p>Download Flickity <a href="{{source_url_path}}flickity.css"><code>flickity.css</code></a> and <a href="{{source_url_path}}flickity.pkgd.min.js"><code>flickity.pkgd.min.js</code></a> files.</p>
    </li>
    <li>
      <p>Add the Flickity <code>.css</code> and <code>.js</code> files to your site.</p>
      ``` html
      <link rel="stylesheet" href="/path/to/flickity.css" media="screen">
      ```
      ``` html
      <script src="/path/to/flickity.pkgd.min.js"></script>
      ```
    </li>
    <li>
      <p>Add <code>js-flickity</code> class to carousel elements.</p>
      ``` html
      <div class="carousel js-flickity">
        <div class="carousel-cell"></div>
        <div class="carousel-cell"></div>
        ...
      </div>
      ```
    </li>
  </ol>

  <p>That&rsquo;s it! You&rsquo;re all set to start using and customizing Flickity.</p>
</div>

{{! ----------------------------------------------------------------- }}

<h2>Install</h2>

{{! ----------------------------------------------------------------- }}

<h3>Download</h3>

<ul>
  <li>
    CSS:
    <ul>
      <li><a href="{{source_url_path}}flickity.css">flickity.css</a> un-minified, or</li>
      <li><a href="{{source_url_path}}flickity.min.css">flickity.min.css</a> minified</li>
    </ul>
  </li>
  <li>
    JavaScript:
    <ul>
      <li><a href="{{source_url_path}}flickity.pkgd.js">flickity.pkgd.js</a> un-minified, or</li>
      <li><a href="{{source_url_path}}flickity.pkgd.min.js">flickity.pkgd.min.js</a> minified</li>
    </ul>
  </li>
</ul>

{{! ----------------------------------------------------------------- }}

<h3>CDN</h3>

<p>Link directly to Flickity files on <a href="https://npmcdn.com/">npmcdn</a>.</p>

``` html
<link rel="stylesheet" href="https://npmcdn.com/flickity@{{flickity_minor_version}}/dist/flickity.css">
<!-- or -->
<link rel="stylesheet" href="https://npmcdn.com/flickity@{{flickity_minor_version}}/dist/flickity.min.css">
```

``` html
<script src="https://npmcdn.com/flickity@{{flickity_minor_version}}/dist/flickity.pkgd.js"></script>
<!-- or -->
<script src="https://npmcdn.com/flickity@{{flickity_minor_version}}/dist/flickity.pkgd.min.js"></script>
```

{{! ----------------------------------------------------------------- }}

<h3>Package managers</h3>

<p>Install with Bower: <code>bower install flickity --save</code></p>

<p>Install with npm: <code>npm install flickity</code></p>

{{! ----------------------------------------------------------------- }}

<h2>License</h2>

{{! ----------------------------------------------------------------- }}

<h3>Commercial license</h3>

<p>If you want to use Flickity to develop commercial sites, themes, projects, and applications, the Commercial license is the appropriate license. With this option, your source code is kept proprietary. <a href="license.html">Read more about Flickity commercial licensing</a>.</p>

<p>Once purchased, you&rsquo;ll receive a commercial license PDF and be all set to use Flickity in your commercial applications.</p>

<div class="buy-button-trio">
  {{#license_options.developer}}
    {{> buy-button}}
  {{/license_options.developer}}

  {{#license_options.team}}
    {{> buy-button}}
  {{/license_options.team}}

  {{#license_options.organization}}
    {{> buy-button}}
  {{/license_options.organization}}
</div>

{{! ----------------------------------------------------------------- }}

<h3>Open source license</h3>

<p>If you are creating an open source application under a license compatible with the <a href="https://www.gnu.org/licenses/gpl-3.0.html">GNU GPL license v3</a>, you may use Flickity under the terms of the GPLv3. <a href="license.html">Read more about Flickity open source licensing</a>.</p>

<h2>Getting started</h2>

<p>Include the Flickity <code>.css</code> and <code>.js</code> files in your site.</p>

``` html
<link rel="stylesheet" href="/path/to/flickity.css" media="screen">
```

``` html
<script src="/path/to/flickity.pkgd.min.js"></script>
```

<p>Flickity works on a container carousel element with a group of cell elements.</p>

``` html
<div class="main-carousel">
  <div class="carousel-cell">...</div>
  <div class="carousel-cell">...</div>
  <div class="carousel-cell">...</div>
  ...
</div>
```

<p>There are several ways to initialize Flickity.</p>

{{! ----------------------------------------------------------------- }}

<h3>Initialize with jQuery</h3>

<p>You can use Flickity as a jQuery plugin: <code>$(<span class="string">'selector'</span>).flickity()</code>.</p>

``` js
$('.main-carousel').flickity({
  // options
  cellAlign: 'left',
  contain: true
});
```

{{! ----------------------------------------------------------------- }}

<h3>Initialize with Vanilla JavaScript</h3>

<p>You can use Flickity with vanilla JS: <code><span class="keyword">new</span> Flickity( elem )</code>. The <code>Flickity()</code> constructor accepts two arguments: the carousel element and an options object.</p>

``` js
var elem = document.querySelector('.main-carousel');
var flkty = new Flickity( elem, {
  // options
  cellAlign: 'left',
  contain: true
});

// element argument can be a selector string
//   for an individual element
var flkty = new Flickity( '.main-carousel', {
  // options
});
```

{{! ----------------------------------------------------------------- }}

<h3>Initialize with HTML</h3>

<p>You can initialize Flickity in HTML, without writing any JavaScript. Add <code>js-flickity</code> to the class of the carousel element. Options can be set with a <code>data-flickity-options</code> attribute.</p>


``` html
<div class="main-carousel js-flickity"
  data-flickity-options='{ "cellAlign": "left", "contain": true }'>
```

<div class="call-out">
  <p>Options set in HTML must be valid JSON. Keys need to be quoted, for example <code>"cellAlign":</code>. Note that the attribute value uses single quotes <code>'</code>, but the JSON entities use double-quotes <code>"</code>.</p>
</div>

{{! ----------------------------------------------------------------- }}

<h3>Next</h3>

<ul>
  <li><a href="style.html">Style</a></li>
  <li><a href="options.html">Options</a></li>
  <li><a href="api.html">API</a></li>
</ul>

{{! ----------------------------------------------------------------- }}

<h2>Featured options</h2>

{{! ----------------------------------------------------------------- }}

{{> wrap-around}}

{{! ----------------------------------------------------------------- }}

{{> free-scroll}}

{{! ----------------------------------------------------------------- }}

{{> auto-play}}

{{! ----------------------------------------------------------------- }}

{{> watch-css}}

{{! ----------------------------------------------------------------- }}

<h3><a href="options.html">View all options</a></h3>

{{! ----------------------------------------------------------------- }}

<h2>Images</h2>

<p>Flickity makes beautiful image galleries.</p>

``` html
<div class="carousel js-flickity"
  data-flickity-options='{ "imagesLoaded": true, "percentPosition": false }'>
  <img src="orange-tree.jpg" alt="orange tree" />
  <img src="submerged.jpg" alt="submerged" />
  <img src="look-out.jpg" alt="look-out" />
  ...
</div>
```

<div class="example">
  <div class="example__demo">
    <div class="carousel carousel--images-demo js-flickity"
      data-flickity-options='{ "imagesLoaded": true, "percentPosition": false }'>
      <!-- images from unsplash.com -->
      <img src="http://i.imgur.com/bwy74ok.jpg" alt="orange tree" />
      <img src="http://i.imgur.com/bAZWoqx.jpg" alt="submerged" />
      <img src="http://i.imgur.com/PgmEBSB.jpg" alt="look-out" />
      <img src="http://i.imgur.com/aboaFoB.jpg" alt="freedom tower" />
      <img src="http://i.imgur.com/LkmcILl.jpg" alt="drizzle" />
      <img src="http://i.imgur.com/q9zO6tw.jpg" alt="cat nose" />
      {{! <img src="http://i.imgur.com/r8p3Xgq.jpg" />
      <img src="http://i.imgur.com/hODreXI.jpg" />
      <img src="http://i.imgur.com/UORFJ3w.jpg" /> }}
    </div>
    {{> edit-demo default="GgQREP" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

{{> imagesloaded}}

{{! ----------------------------------------------------------------- }}

{{> lazy-load}}

{{! ----------------------------------------------------------------- }}

<h2>Flickity in use</h2>

<p>We&rsquo;d love to see how you use Flickity! Tweet <a href="https://twitter.com/metafizzyco">@metafizzyco</a> or email <a href="mailto:yo@metafizzy.co">yo@metafizzy.co</a> to share your work and possibly get it featured here.</p>

<div class="in-use-carousel js-flickity" data-flickity-options='{ "lazyLoad": 1, "wrapAround": true }'>
  {{#each in_use}}
    <a class="in-use-carousel__item" href="{{url}}">
      <p class="in-use-carousel__item__title">{{title}}</p>
      <img class="in-use-carousel__item__image" data-flickity-lazyload="{{image}}" alt="{{title}}" />
    </a>
  {{/each}}
</div>

{{! ----------------------------------------------------------------- }}

{{#unless isExport}}

  <h2>People like Flickity</h2>

  <a class="twitter-timeline" href="https://twitter.com/metafizzyco/timelines/657278156794109953" data-widget-id="657284386929418241">People like Flickity</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

{{/unless}}
