---
title: Options
---

<h2>Setup</h2>

<h3>cellSelector</h3>

<p>Specify selector for cell elements. <code>cellSelector</code> is useful if you have other elements in your carousel elements that are not cells.</p>

<div class="duo example">
  <div class="duo__cell example__code">
``` js
cellSelector: '.carousel-cell'
```

``` html
<div class="carousel">
  <div class="static-banner">Static banner 1</div>
  <div class="static-banner">Static banner 2</div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  ...
</div>
```
  </div>
  {{> cell-selector }}
</div>

{{! ----------------------------------------------------------------- }}

<h3>initialIndex</h3>

<p>Zero-based index of the initial selected cell.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    initialIndex: 2
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="carousel" data-flickity='{ "initialIndex": 2 }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
    {{> edit-demo default="vEdOKg" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>accessibility</h3>

<p>Enable keyboard navigation. Users can tab to a Flickity carousel, and pressing left &amp; right keys to change cells. Enabled by default <code><span class="comment">accessibility: true</span></code>.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    accessibility: false
    // disables being able to tab to Flickity
    // and keyboard navigation
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="carousel" data-flickity='{ "accessibility": false }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
    {{> edit-demo default="NPyqrM" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>setGallerySize</h3>

<p>Sets the height of the carousel to the height of the tallest cell. Enabled by default <code><span class="comment">setGallerySize: true</span></code>.</p>

<p>Use <code>setGallerySize: <span class="literal">false</span></code> if you prefer to size the carousel with CSS, rather than using the size of cells.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    setGallerySize: false
    ```

    ``` css
    /* carousel height */
    .carousel {
      height: 160px;
    }

    /* cell inherit height from carousel */
    .carousel-cell {
      height: 100%;
    }
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="carousel carousel--set-carousel-size-disabled"
      data-flickity='{ "setGallerySize": false }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
    {{> edit-demo default="jEzKNG" }}
  </div>
</div>

<p>With <code>setGallerySize: <span class="literal">false</span></code>, you can set the size of the carousel to 100% width and height, for a "full-bleed" carousel.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    setGallerySize: false
    ```

    ``` css
    /* inherit height from parent */
    .carousel { height: 100%; }

    .carousel-cell { height: 100% }

    /* move page dots into carousel */
    .flickity-page-dots { bottom: 10px; }
    ```
  </div>
  <div class="example__demo duo__cell example__demo--full-bleed">
    <div class="carousel carousel--full-bleed" data-flickity>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
    {{> edit-demo default="VLrReY" }}
  </div>
</div>

<p>You can size the carousel height as percentage of its width with <code><span class="attribute">padding-bottom</span></code> and <code><span class="class">.flickity-viewport</span></code> CSS.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    setGallerySize: false
    ```

    ``` css
    /* carousel height, as percentage of width */
    .carousel {
      padding-bottom: 33.3%;
    }

    /* viewport inherit size from carousel */
    .carousel .flickity-viewport {
      position: absolute;
      width: 100%;
    }

    /* cell inherit height from carousel */
    .carousel-cell {
      height: 100%;
    }
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="carousel carousel--set-carousel-size-disabled-percentage"
      data-flickity='{ "setGallerySize": false }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
    {{> edit-demo default="dPmKyx" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>resize</h3>

<p>Adjusts sizes and positions when window is resized. Enabled by default <code><span class="comment">resize: true</span></code>.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    resize: false
    // disables resize logic
    ```

    ``` css
    /* carousel has fixed width */
    .carousel {
      width: 300px;
    }
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="carousel carousel--resize-option" data-flickity='{ "resize": false }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
    {{> edit-demo default="yyvNaG" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h2>Cell position</h2>

{{> cell-align}}

{{! ----------------------------------------------------------------- }}

{{> contain}}

{{! ----------------------------------------------------------------- }}

{{> imagesloaded}}

{{! ----------------------------------------------------------------- }}

<h3>percentPosition</h3>

<p>Sets positioning in percent values, rather than pixel values. If your cells do not have percent widths, we recommended <code>percentPosition: <span class="literal">false</span></code>.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    // default percentPosition: true
    // sets cell position in percentages
    ```

    ``` css
    /* cell width in percent */
    .carousel-cell {
      width: 66%;
    }
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="carousel" data-flickity='{ "percentPosition": false }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
    {{> edit-demo default="azqbop" }}
  </div>
</div>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    percentPosition: false
    // sets cell position in pixels
    ```

    ``` css
    /* cell width in pixels */
    .carousel-cell {
      width: 300px;
    }
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="carousel carousel--pixel-position-demo" data-flickity='{ "percentPosition": false }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
    {{> edit-demo default="dPdoWp" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>rightToLeft</h3>

<p>Enables right-to-left layout.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    rightToLeft: true
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="carousel" data-flickity='{ "rightToLeft": true }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
      {{> edit-demo default="ZYrGKN" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h2>Behavior</h2>

{{! ----------------------------------------------------------------- }}

<h3>draggable</h3>

<p>Enables dragging and flicking. Enabled by default <code><span class="comment">dragging: true</span></code>.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    draggable: false
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="carousel" data-flickity='{ "draggable": false }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
    {{> edit-demo default="dPdoRO" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

{{> free-scroll}}

{{! ----------------------------------------------------------------- }}

{{> wrap-around}}

{{! ----------------------------------------------------------------- }}

<h3>groupCells</h3>

<p>Groups cells together in slides. Flicking, page dots, and previous/next buttons are mapped to group slides, not individual cells. <code>is-selected</code> class is added to the multiple cells in the selected slide.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    groupCells: true
    // if set to true,
    // group cells that fit in carousel viewport
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="carousel carousel--show-several carousel--selected-cell" data-flickity='{ "groupCells": true }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>

      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>

      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>

      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
  </div>
</div>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    groupCells: 2
    // if set to a number, group cells by that number
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="carousel carousel--show-several carousel--selected-cell" data-flickity='{ "groupCells": 2 }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>

      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>

      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>

      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
  </div>
</div>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    groupCells: '80%'
    // if set to a percent string,
    // group cells that fit in the percent of
    // the width of the carousel viewport
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="carousel carousel--show-several carousel--selected-cell" data-flickity='{ "groupCells": "80%" }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>

      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>

      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>

      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
  </div>
</div>

{{! ----------------------------------------------------------------- }}

{{> lazy-load}}

<p>If using natural size of images for the size of cells, set a <code>min-width</code> to cells have a size when images are not loaded.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` html
    <div class="carousel">
      <img class="carousel-image"
        data-flickity-lazyload="tulip.jpg" />
      <img class="carousel-image"
        data-flickity-lazyload="grapes.jpg" />
      ...
    </div>
    ```

    ``` css
    .carousel-image {
      min-width: 150px;
    }
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="carousel carousel--not-counting" data-flickity='{ "lazyLoad": true }'>
      <img class="carousel__lazy-image"
      data-flickity-lazyload="http://i.imgur.com/9xYjgCk.jpg" alt="tulip" />
      <img class="carousel__lazy-image"
      data-flickity-lazyload="http://i.imgur.com/8lEJtbg.jpg" alt="grapes" />
      <img class="carousel__lazy-image"
      data-flickity-lazyload="http://i.imgur.com/ERMbVdn.jpg" alt="raspberries" />
      <img class="carousel__lazy-image"
      data-flickity-lazyload="http://i.imgur.com/lBKi66i.jpg" alt="wolf" />
      <img class="carousel__lazy-image"
      data-flickity-lazyload="http://i.imgur.com/4O7U1Ob.jpg" alt="sea" />
      <img class="carousel__lazy-image"
      data-flickity-lazyload="http://i.imgur.com/4ifgQaR.jpg" alt="green beads" />
      <img class="carousel__lazy-image"
      data-flickity-lazyload="http://i.imgur.com/qKhkOKC.jpg" alt="gulls" />
      <img class="carousel__lazy-image"
      data-flickity-lazyload="http://i.imgur.com/LFelADP.jpg" alt="touch" />
      <img class="carousel__lazy-image"
      data-flickity-lazyload="http://i.imgur.com/OZmQIVL.jpg" alt="van" />
    </div>
    {{> edit-demo default="RPLRLZ" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

{{> auto-play}}

<p>Auto-playing will pause when the user hovers over the carousel. Set <code>pauseAutoPlayOnHover: <span class="literal">false</span></code> to disable this behavior.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    autoPlay: 1500,
    pauseAutoPlayOnHover: false
    // auto play continues when user hovers over carousel
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="carousel" data-flickity='{ "autoPlay": 1500, "pauseAutoPlayOnHover": false }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
    {{> edit-demo default="yeeQJK" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>adaptiveHeight</h3>

<p>Changes height of carousel to fit height of selected slide.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    adaptiveHeight: true
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="carousel" data-flickity='{ "adaptiveHeight": true }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell carousel-cell--adapt-height2"></div>
      <div class="carousel-cell carousel-cell--adapt-height3"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell carousel-cell--adapt-height2"></div>
    </div>
  </div>
</div>

<p>Use CSS transitions to transition height changes. But heads up: transitioning height triggers reflow and may cause poor performance.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    adaptiveHeight: true
    ```
    ``` css
    .flickity-viewport {
      transition: height 0.2s;
    }
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="carousel carousel--transition-adaptive-height" data-flickity='{ "adaptiveHeight": true }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell carousel-cell--adapt-height2"></div>
      <div class="carousel-cell carousel-cell--adapt-height3"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell carousel-cell--adapt-height2"></div>
    </div>
  </div>
</div>


{{! ----------------------------------------------------------------- }}

{{> watch-css}}

{{! ----------------------------------------------------------------- }}

<h3>asNavFor</h3>

<p>Use one Flickity carousel as navigation for another.</p>

<p><code>asNavFor</code> requires <a href="#draggable"><code>draggable</code></a> to be enabled, and will not work with <code>draggable: false</code>.</p>

<ul>
  <li>Clicking the nav carousel will select the content carousel.</li>
  <li>Selecting a cell in the content carousel will sync to the nav carousel.</li>
</ul>

``` js
// asNavFor can be set a selector string
asNavFor: '.carousel-main'
// or an element
asNavFor: $('.carousel-main')[0]
asNavFor: document.querySelector('.carousel-main')
```

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    // 1st carousel, main
    $('.carousel-main').flickity();
    // 2nd carousel, navigation
    $('.carousel-nav').flickity({
      asNavFor: '.carousel-main',
      contain: true,
      pageDots: false
    });
    ```

    ``` css
    /* is-nav-selected class added to nav cells */
    .carousel-nav .carousel-cell.is-nav-selected {
      background: #ED2;
    }
    ```
  </div>
  {{> as-nav-for }}
</div>

<div class="call-out">
  <p><code>asNavFor</code> requires the <a href="https://github.com/metafizzy/flickity-as-nav-for">flickity-as-nav-for package</a>. It already <em>is</em> included with <code>flickity.pkgd.js</code>, but not with Flickity as a stand-alone package. If you are using Browserify or RequireJS without <code>flickity.pkgd.js</code>, you need to install and require <code>flickity-as-nav-for</code> separately. See details in <a href="extras.html">Extras</a>.</p>
</div>

{{! ----------------------------------------------------------------- }}

<h3>dragThreshold</h3>

<p>The number of pixels a mouse or touch has to move before dragging begins. Increase <code>dragThreshold</code> to allow for more wiggle room for vertical page scrolling on touch devices. Default <code><span class="comment">dragThreshold: 3</span></code>.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    dragThreshold: 10
    // dragging doesn't start until 10px moved
    // more room for vertical scrolling
    // on touch devices
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="carousel" data-flickity=' { "dragThreshold": 10 }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>selectedAttraction &amp; friction</h3>

<p><code>selectedAttraction</code> and <code>friction</code> are the two options that control the speed and motion of the slider.</p>

<p><code>selectedAttraction</code> attracts the position of the slider to the selected cell. Higher attraction makes the slider move faster. Lower makes it move slower. Default <code><span class="comment">selectedAttraction: 0.025</span></code>.</p>

<p><code>friction</code> slows the movement of slider. Higher friction makes the slider feel stickier and less bouncy. Lower friction makes the slider feel looser and more wobbly. Default <code><span class="comment">friction: 0.28</span></code>.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    selectedAttraction: 0.2,
    friction: 0.8
    // higher attraction and higher friction
    // faster transitions
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="carousel" data-flickity='{ "selectedAttraction": 0.2, "friction": 0.8 }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
    {{> edit-demo default="aOyMam" }}
  </div>
</div>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    selectedAttraction: 0.01,
    friction: 0.15
    // lower attraction and lower friction
    // slower transitions
    // easier to flick past cells
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="carousel" data-flickity='{ "selectedAttraction": 0.01, "friction": 0.15 }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
    {{> edit-demo default="BNdbOq" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>freeScrollFriction</h3>

<p>Slows movement of slider when <a href="#freescroll"><code>freeScroll: <span class="literal">true</span></code></a>. Higher friction makes the slider feel stickier. Lower friction makes the slider feel looser. Default <code><span class="comment">freeScrollFriction: 0.075</span></code>.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    freeScroll: true,
    freeScrollFriction: 0.03
    // lower friction, slides easier
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="carousel" data-flickity='{ "freeScroll": true, "freeScrollFriction": 0.03 }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
    {{> edit-demo default="jPLJvo" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h2>UI</h2>

<h3>prevNextButtons</h3

<p>Creates and enables previous &amp; next buttons. Enabled by default <code><span class="comment">prevNextButtons: true</span></code>.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    prevNextButtons: false
    // Disable previous & next buttons
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="carousel" data-flickity='{ "prevNextButtons": false }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
    {{> edit-demo default="QwQbQJ" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>pageDots</h3

<p>Creates and enables page dots. Enabled by default <code><span class="comment">pageDots: true</span></code>.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    pageDots: false
    // Disable page dots
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="carousel" data-flickity='{ "pageDots": false }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
    {{> edit-demo default="raJVdN" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>arrowShape</h3>

<p>Draws the shape of the arrows in the previous &amp; next buttons.</p>

<p>The arrow is drawn on a 100 &times; 100 viewbox with four points (<i>p0, p1, p2, p3</i>) made up of six coordinates <code>x0, x1, y1, x2, y2, x3</code>. The four points draw the top half on the left arrow.</p>

{{> arrow-wiz}}

<p>Set a custom shape by setting <code>arrowShape</code> to a <a href="https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/d">SVG path string</a>. The path is for the left arrow drawn in a 100 &times; 100 viewbox.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    arrowShape: 'M 0,50 L 60,00 L 50,30 L 80,30 L 80,70 L 50,70 L 60,100 Z'
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="carousel" data-flickity='{ "arrowShape": "M 0,50 L 60,00 L 50,30 L 80,30 L 80,70 L 50,70 L 60,100 Z", "initialIndex": 2 }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
    {{> edit-demo default="vOeKdJ" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}
