---
title: Options
---

<h2>Setup</h2>

<h3>cellSelector</h3>

<p>Specify selector for cell elements. <code>cellSelector</code> is useful if you have other elements in your gallery elements that are not cells.</p>

<div class="duo example">
  <div class="duo__cell example__code">
``` js
cellSelector: '.gallery-cell'
```

``` html
<div class="gallery">
  <div class="static-banner">Static banner 1</div>
  <div class="static-banner">Static banner 2</div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
  ...
</div>
```
  </div>
  <div class="duo__cell example__demo">
    <div class="gallery gallery--cell-selector-demo js-flickity"
      data-flickity-options='{ "cellSelector": ".gallery-cell" }'>
      <div class="static-banner static-banner1">Static banner 1</div>
      <div class="static-banner static-banner2">Static banner 2</div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{#codepens.cell_selector}}
      {{>edit_demo}}
    {{/codepens.cell_selector}}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>initialIndex</h3>

<p>Zero-based index of the initial selected cell.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    initialIndex: 2
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="gallery js-flickity"
      data-flickity-options='{ "initialIndex": 2 }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
  </div>
  {{#codepens.initial_index}}
    {{>edit_demo}}
  {{/codepens.initial_index}}
</div>

{{! ----------------------------------------------------------------- }}

<h3>accessibility</h3>

<p>Enable keyboard navigation. Users can tab to a Flickity gallery, and pressing left &amp; right keys to change cells. Enabled by default <code><span class="comment">accessibility: true</span></code>.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    accessibility: false
    // disables being able to tab to Flickity
    // and keyboard navigation
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="gallery js-flickity"
      data-flickity-options='{ "accessibility": false }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{#codepens.accessibility_disabled}}
      {{>edit_demo}}
    {{/codepens.accessibility_disabled}}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>setGallerySize</h3>

<p>Sets the height of the gallery to the height of the tallest cell. Enabled by default <code><span class="comment">setGallerySize: true</span></code>.</p>

<p>Use <code>setGallerySize: <span class="literal">false</span></code> if you prefer to size the gallery with CSS, rather than using the size of cells.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    setGallerySize: false
    ```

    ``` css
    /* gallery height */
    .gallery {
      height: 160px;
    }

    /* cell inherit height from gallery */
    .gallery-cell {
      height: 100%;
    }
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="gallery gallery--set-gallery-size-disabled js-flickity"
      data-flickity-options='{ "setGallerySize": false }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{#codepens.set_gallery_size_disabled}}
      {{>edit_demo}}
    {{/codepens.set_gallery_size_disabled}}
  </div>
</div>

<p>You can size the gallery height as percentage of its width with <code><span class="attribute">padding-bottom</span></code> and <code><span class="class">.flickity-viewport</span></code> CSS.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    setGallerySize: false
    ```

    ``` css
    /* gallery height, as percentage of width */
    .gallery {
      padding-bottom: 33.3%;
    }

    /* viewport inherit size from gallery */
    .gallery .flickity-viewport {
      position: absolute;
      width: 100%;
    }

    /* cell inherit height from gallery */
    .gallery-cell {
      height: 100%;
    }
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="gallery gallery--set-gallery-size-disabled-percentage js-flickity"
      data-flickity-options='{ "setGallerySize": false }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{#codepens.set_gallery_size_disabled_percentage}}
      {{>edit_demo}}
    {{/codepens.set_gallery_size_disabled_percentage}}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>resize</h3>

<p>Adjusts sizes and positions when window is resized. Enabled by default <code><span class="comment">resize: true</span></code>.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    resize: false
    // disables resize logic
    ```

    ``` css
    /* gallery has fixed width */
    .gallery {
      width: 300px;
    }
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="gallery gallery--resize-option js-flickity"
      data-flickity-options='{ "resize": false }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{#codepens.resize_option_disabled}}
      {{>edit_demo}}
    {{/codepens.resize_option_disabled}}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h2>Cell position</h2>

{{> cell_align}}

{{! ----------------------------------------------------------------- }}

{{> contain}}

{{! ----------------------------------------------------------------- }}

{{> images_loaded}}

{{! ----------------------------------------------------------------- }}

<h3>percentPosition</h3>

<p>Sets positioning in percent values, rather than pixel values. If your cells do not have percent widths, we recommended <code>percentPosition: false</code>.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    // default percentPosition: false
    // sets cell position in percentages
    ```

    ``` css
    /* cell width in percent */
    .gallery-cell {
      width: 66%;
    }
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="gallery js-flickity"
      data-flickity-options='{ "percentPosition": false }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{#codepens.basic}}
      {{>edit_demo}}
    {{/codepens.basic}}
  </div>
</div>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    percentPosition: false
    // sets cell position in pixels
    ```

    ``` css
    /* cell width in pixels */
    .gallery-cell {
      width: 300px;
    }
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="gallery gallery--pixel-position-demo js-flickity"
      data-flickity-options='{ "percentPosition": false }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{#codepens.percent_position_disabled}}
      {{>edit_demo}}
    {{/codepens.percent_position_disabled}}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>rightToLeft</h3>

<p>Enables right-to-left layout.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    rightToLeft: true
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="gallery js-flickity"
      data-flickity-options='{ "rightToLeft": true }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{#codepens.right_to_left}}
      {{>edit_demo}}
    {{/codepens.right_to_left}}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h2>Dragging</h2>

{{! ----------------------------------------------------------------- }}

<h3>draggable</h3>

<p>Enables dragging and flicking. Enabled by default <code><span class="comment">dragging: true</span></code>.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    draggable: false
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="gallery js-flickity"
      data-flickity-options='{ "draggable": false }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{#codepens.draggable_disabled}}
      {{>edit_demo}}
    {{/codepens.draggable_disabled}}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

{{> free_scroll}}

{{! ----------------------------------------------------------------- }}

<h2>Behavior</h2>

{{> wrap_around}}

{{! ----------------------------------------------------------------- }}

{{> auto_play}}

{{! ----------------------------------------------------------------- }}

{{> watch_css}}

{{! ----------------------------------------------------------------- }}

<h3>asNavFor</h3>

<p>Use one Flickity gallery as navigation for another.</p>

<ul>
  <li>Clicking the nav gallery will select the content gallery.</li>
  <li>Selecting a cell in the content gallery will sync to the nav gallery.</li>
</ul>

``` js
// asNavFor can be set a selector string
asNavFor: '.gallery-main'
// or an element
asNavFor: $('.gallery-main')[0]
asNavFor: document.querySelector('.gallery-main')
```

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    // 1st gallery, main
    $('.gallery-main').flickity();
    // 2nd gallery, navigation
    $('.gallery-nav').flickity({
      asNavFor: '.gallery-main',
      contain: true,
      pageDots: false
    });
    ```

    ``` css
    /* is-nav-selected class added to nav cells */
    .gallery-nav .gallery-cell.is-nav-selected {
      background: #ED2;
    }
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="gallery gallery--as-nav-for-main gallery--full-width js-flickity">
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    <div class="gallery gallery--as-nav-for-nav gallery--nav js-flickity"
      data-flickity-options='{ "asNavFor": ".gallery--as-nav-for-main", "contain": true, "pageDots": false }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{#codepens.as_nav_for}}
      {{>edit_demo}}
    {{/codepens.as_nav_for}}
  </div>
</div>

<div class="call-out">
  <p><code>asNavFor</code> requires the <a href="https://github.com/metafizzy/flickity-as-nav-for">flickity-as-nav-for package</a>. It already <em>is</em> included with <code>flickity.pkgd.js</code>, but not with Flickity as a stand-alone package. If you are using Browserify or RequireJS without <code>flickity.pkgd.js</code>, you need to install and require <code>flickity-as-nav-for</code> separately. See details in <a href="extras.html">Extras</a>.</p>
</div>

{{! ----------------------------------------------------------------- }}

<h2>UI</h2>

<h3>prevNextButtons</h3

<p>Creates and enables previous &amp; next buttons. Enabled by default <code><span class="comment">prevNextButtons: true</span></code>.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    prevNextButtons: false
    // Disable previous & next buttons
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="gallery js-flickity"
      data-flickity-options='{ "prevNextButtons": false }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{#codepens.prev_next_buttons_disabled}}
      {{>edit_demo}}
    {{/codepens.prev_next_buttons_disabled}}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>pageDots</h3

<p>Creates and enables page dots. Enabled by default <code><span class="comment">pageDots: true</span></code>.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    pageDots: false
    // Disable page dots
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="gallery js-flickity"
      data-flickity-options='{ "pageDots": false }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{#codepens.page_dots_disabled}}
      {{>edit_demo}}
    {{/codepens.page_dots_disabled}}
  </div>
</div>

{{! ----------------------------------------------------------------- }}
