---
title: Options
---

<h2>Setup</h2>

<h3>cellSelector</h3>

<p>Specify selector for cell elements. <code>cellSelector</code> is useful if you have other elements in your gallery elements that are not cells.</p>

<div class="duo example">
  <div class="duo__cell example__code">
``` js
cellSelector: '.gallery-cell'
```

``` html
<div class="gallery">
  <div class="static-banner">Static banner 1</div>
  <div class="static-banner">Static banner 2</div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
  ...
</div>
```
  </div>
  <div class="duo__cell example__demo">
    <div class="gallery gallery--cell-selector-demo js-flickity"
      data-flickity-options='{ "cellSelector": ".gallery-cell" }'>
      <div class="static-banner static-banner1">Static banner 1</div>
      <div class="static-banner static-banner2">Static banner 2</div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{> edit_demo default="yyvNaG" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>initialIndex</h3>

<p>Zero-based index of the initial selected cell.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    initialIndex: 2
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="gallery js-flickity"
      data-flickity-options='{ "initialIndex": 2 }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{> edit_demo default="vEdOKg" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>accessibility</h3>

<p>Enable keyboard navigation. Users can tab to a Flickity gallery, and pressing left &amp; right keys to change cells. Enabled by default <code><span class="comment">accessibility: true</span></code>.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    accessibility: false
    // disables being able to tab to Flickity
    // and keyboard navigation
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="gallery js-flickity"
      data-flickity-options='{ "accessibility": false }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{> edit_demo default="NPyqrM" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>setGallerySize</h3>

<p>Sets the height of the gallery to the height of the tallest cell. Enabled by default <code><span class="comment">setGallerySize: true</span></code>.</p>

<p>Use <code>setGallerySize: <span class="literal">false</span></code> if you prefer to size the gallery with CSS, rather than using the size of cells.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    setGallerySize: false
    ```

    ``` css
    /* gallery height */
    .gallery {
      height: 160px;
    }

    /* cell inherit height from gallery */
    .gallery-cell {
      height: 100%;
    }
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="gallery gallery--set-gallery-size-disabled js-flickity"
      data-flickity-options='{ "setGallerySize": false }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{> edit_demo default="jEzKNG" }}
  </div>
</div>

<p>With <code>setGallerySize: <span class="literal">false</span></code>, you can set the size of the gallery to 100% width and height, for a "full-bleed" gallery.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    setGallerySize: false
    ```

    ``` css
    /* inherit height from parent */
    .gallery { height: 100%; }

    .gallery-cell { height: 100% }

    /* move page dots into gallery */
    .flickity-page-dots { bottom: 10px; }
    ```
  </div>
  <div class="example__demo duo__cell example__demo--full-bleed">
    <div class="gallery gallery--full-bleed js-flickity">
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{> edit_demo default="VLrReY" }}
  </div>
</div>

<p>You can size the gallery height as percentage of its width with <code><span class="attribute">padding-bottom</span></code> and <code><span class="class">.flickity-viewport</span></code> CSS.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    setGallerySize: false
    ```

    ``` css
    /* gallery height, as percentage of width */
    .gallery {
      padding-bottom: 33.3%;
    }

    /* viewport inherit size from gallery */
    .gallery .flickity-viewport {
      position: absolute;
      width: 100%;
    }

    /* cell inherit height from gallery */
    .gallery-cell {
      height: 100%;
    }
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="gallery gallery--set-gallery-size-disabled-percentage js-flickity"
      data-flickity-options='{ "setGallerySize": false }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{> edit_demo default="dPmKyx" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>resize</h3>

<p>Adjusts sizes and positions when window is resized. Enabled by default <code><span class="comment">resize: true</span></code>.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    resize: false
    // disables resize logic
    ```

    ``` css
    /* gallery has fixed width */
    .gallery {
      width: 300px;
    }
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="gallery gallery--resize-option js-flickity"
      data-flickity-options='{ "resize": false }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{> edit_demo default="yyvNaG" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h2>Cell position</h2>

{{> cell_align}}

{{! ----------------------------------------------------------------- }}

{{> contain}}

{{! ----------------------------------------------------------------- }}

{{> images_loaded}}

{{! ----------------------------------------------------------------- }}

<h3>percentPosition</h3>

<p>Sets positioning in percent values, rather than pixel values. If your cells do not have percent widths, we recommended <code>percentPosition: <span class="literal">false</span></code>.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    // default percentPosition: true
    // sets cell position in percentages
    ```

    ``` css
    /* cell width in percent */
    .gallery-cell {
      width: 66%;
    }
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="gallery js-flickity"
      data-flickity-options='{ "percentPosition": false }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{> edit_demo default="azqbop" }}
  </div>
</div>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    percentPosition: false
    // sets cell position in pixels
    ```

    ``` css
    /* cell width in pixels */
    .gallery-cell {
      width: 300px;
    }
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="gallery gallery--pixel-position-demo js-flickity"
      data-flickity-options='{ "percentPosition": false }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{> edit_demo default="dPdoWp" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>rightToLeft</h3>

<p>Enables right-to-left layout.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    rightToLeft: true
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="gallery js-flickity"
      data-flickity-options='{ "rightToLeft": true }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
      {{> edit_demo default="ZYrGKN" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h2>Behavior</h2>

{{! ----------------------------------------------------------------- }}

<h3>draggable</h3>

<p>Enables dragging and flicking. Enabled by default <code><span class="comment">dragging: true</span></code>.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    draggable: false
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="gallery js-flickity"
      data-flickity-options='{ "draggable": false }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{> edit_demo default="dPdoRO" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

{{> free_scroll}}

{{! ----------------------------------------------------------------- }}

{{> wrap_around}}

{{! ----------------------------------------------------------------- }}

{{> lazyload}}

<p>If using natural size of images for the size of cells, set a <code>min-width</code> to cells have a size when images are not loaded.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` html
    <div class="gallery">
      <img class="gallery-image"
        data-flickity-lazyload="tulip.jpg" />
      <img class="gallery-image"
        data-flickity-lazyload="grapes.jpg" />
      ...
    </div>
    ```

    ``` css
    .gallery-image {
      min-width: 150px;
    }
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="gallery gallery--not-counting js-flickity"
      data-flickity-options='{ "lazyLoad": true }'>
      <img class="gallery__lazy-image"
      data-flickity-lazyload="http://i.imgur.com/9xYjgCk.jpg" alt="tulip" />
      <img class="gallery__lazy-image"
      data-flickity-lazyload="http://i.imgur.com/8lEJtbg.jpg" alt="grapes" />
      <img class="gallery__lazy-image"
      data-flickity-lazyload="http://i.imgur.com/ERMbVdn.jpg" alt="raspberries" />
      <img class="gallery__lazy-image"
      data-flickity-lazyload="http://i.imgur.com/lBKi66i.jpg" alt="wolf" />
      <img class="gallery__lazy-image"
      data-flickity-lazyload="http://i.imgur.com/4O7U1Ob.jpg" alt="sea" />
      <img class="gallery__lazy-image"
      data-flickity-lazyload="http://i.imgur.com/4ifgQaR.jpg" alt="green beads" />
      <img class="gallery__lazy-image"
      data-flickity-lazyload="http://i.imgur.com/qKhkOKC.jpg" alt="gulls" />
      <img class="gallery__lazy-image"
      data-flickity-lazyload="http://i.imgur.com/LFelADP.jpg" alt="touch" />
      <img class="gallery__lazy-image"
      data-flickity-lazyload="http://i.imgur.com/OZmQIVL.jpg" alt="van" />
    </div>
    {{> edit_demo default="RPLRLZ" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

{{> auto_play}}

<p>Auto-playing will pause when the user hovers over the gallery. Set <code>pauseAutoPlayOnHover: <span class="literal">false</span></code> to disable this behavior.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    autoPlay: 1500,
    pauseAutoPlayOnHover: false
    // auto play continues when user hovers over gallery
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="gallery js-flickity"
      data-flickity-options='{ "autoPlay": 1500, "pauseAutoPlayOnHover": false }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{> edit_demo default="yeeQJK" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

{{> watch_css}}

{{! ----------------------------------------------------------------- }}

<h3>asNavFor</h3>

<p>Use one Flickity gallery as navigation for another.</p>

<ul>
  <li>Clicking the nav gallery will select the content gallery.</li>
  <li>Selecting a cell in the content gallery will sync to the nav gallery.</li>
</ul>

``` js
// asNavFor can be set a selector string
asNavFor: '.gallery-main'
// or an element
asNavFor: $('.gallery-main')[0]
asNavFor: document.querySelector('.gallery-main')
```

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    // 1st gallery, main
    $('.gallery-main').flickity();
    // 2nd gallery, navigation
    $('.gallery-nav').flickity({
      asNavFor: '.gallery-main',
      contain: true,
      pageDots: false
    });
    ```

    ``` css
    /* is-nav-selected class added to nav cells */
    .gallery-nav .gallery-cell.is-nav-selected {
      background: #ED2;
    }
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="gallery gallery--as-nav-for-main gallery--full-width js-flickity">
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    <div class="gallery gallery--as-nav-for-nav gallery--nav js-flickity"
      data-flickity-options='{ "asNavFor": ".gallery--as-nav-for-main", "contain": true, "pageDots": false }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{> edit_demo default="wByaqj" }}
  </div>
</div>

<div class="call-out">
  <p><code>asNavFor</code> requires the <a href="https://github.com/metafizzy/flickity-as-nav-for">flickity-as-nav-for package</a>. It already <em>is</em> included with <code>flickity.pkgd.js</code>, but not with Flickity as a stand-alone package. If you are using Browserify or RequireJS without <code>flickity.pkgd.js</code>, you need to install and require <code>flickity-as-nav-for</code> separately. See details in <a href="extras.html">Extras</a>.</p>
</div>

{{! ----------------------------------------------------------------- }}

<h3>selectedAttraction &amp; friction</h3>

<p><code>selectedAttraction</code> and <code>friction</code> are the two options that control the speed and motion of the slider.</p>

<p><code>selectedAttraction</code> attracts the position of the slider to the selected cell. Higher attraction makes the slider move faster. Lower makes it move slower. Default <code><span class="comment">selectedAttraction: 0.025</span></code>.</p>

<p><code>friction</code> slows the movement of slider. Higher friction makes the slider feel stickier and less bouncy. Lower friction makes the slider feel looser and more wobbly. Default <code><span class="comment">friction: 0.28</span></code>.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    selectedAttraction: 0.2,
    friction: 0.8
    // higher attraction and higher friction
    // faster transitions
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="gallery js-flickity"
      data-flickity-options='{ "selectedAttraction": 0.2, "friction": 0.8 }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{> edit_demo default="aOyMam" }}
  </div>
</div>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    selectedAttraction: 0.01,
    friction: 0.15
    // lower attraction and lower friction
    // slower transitions
    // easier to flick past cells
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="gallery js-flickity"
      data-flickity-options='{ "selectedAttraction": 0.01, "friction": 0.15 }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{> edit_demo default="BNdbOq" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>freeScrollFriction</h3>

<p>Slows movement of slider when <a href="#freescroll"><code>freeScroll: <span class="literal">true</span></code></a>. Higher friction makes the slider feel stickier. Lower friction makes the slider feel looser. Default <code><span class="comment">freeScrollFriction: 0.075</span></code>.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    freeScroll: true,
    freeScrollFriction: 0.03
    // lower friction, slides easier
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="gallery js-flickity"
      data-flickity-options='{ "freeScroll": true, "freeScrollFriction": 0.03 }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{> edit_demo default="jPLJvo" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h2>UI</h2>

<h3>prevNextButtons</h3

<p>Creates and enables previous &amp; next buttons. Enabled by default <code><span class="comment">prevNextButtons: true</span></code>.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    prevNextButtons: false
    // Disable previous & next buttons
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="gallery js-flickity"
      data-flickity-options='{ "prevNextButtons": false }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{> edit_demo default="QwQbQJ" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>pageDots</h3

<p>Creates and enables page dots. Enabled by default <code><span class="comment">pageDots: true</span></code>.</p>

<div class="duo example">
  <div class="duo__cell example__code">
    ``` js
    pageDots: false
    // Disable page dots
    ```
  </div>
  <div class="duo__cell example__demo">
    <div class="gallery js-flickity"
      data-flickity-options='{ "pageDots": false }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{> edit_demo default="raJVdN" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}

<h3>arrowShape</h3>

<p>Draws the shape of the arrows in the previous &amp; next buttons.</p>

<p>The arrow is drawn on a 100 &times; 100 viewbox with four points (<i>p0, p1, p2, p3</i>) made up of six coordinates <code>x0, x1, y1, x2, y2, x3</code>. The four points draw the top half on the left arrow.</p>

{{> arrow_wiz}}

<p>Set a custom shape by setting <code>arrowShape</code> to a <a href="https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/d">SVG path string</a>. The path is for the left arrow drawn in a 100 &times; 100 viewbox.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    arrowShape: 'M 0,50 L 60,00 L 50,30 L 80,30 L 80,70 L 50,70 L 60,100 Z'
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="gallery js-flickity"
      data-flickity-options='{ "arrowShape": "M 0,50 L 60,00 L 50,30 L 80,30 L 80,70 L 50,70 L 60,100 Z", "initialIndex": 2 }'>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{> edit_demo default="vOeKdJ" }}
  </div>
</div>

{{! ----------------------------------------------------------------- }}
