---
title: Style
---

<h2>Cell style</h2>

<h3>Cell sizing</h3>

<p>All sizing and styling of the cells are handled by your own CSS. The height of the gallery is set to the maximum height of the cells.</p>

<div class="example duo">
  <div class="example__code duo__cell">
      ``` css
      .gallery-cell {
        width: 100%; /* full width */
        height: 160px; /* height of gallery */
        margin-right: 10px;
      }
      ```
  </div>
  <div class="example__demo duo__cell">
    <div class="gallery gallery--full-width js-flickity">
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
  </div>
  {{#codepens.full_width_cells}}
    {{>example_edit_demo}}
  {{/codepens.full_width_cells}}
</div>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` css
    .gallery-cell {
      width: 50%; /* half-width */
      height: 160px;
      margin-right: 10px;
    }
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="gallery gallery--half-width js-flickity">
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
  </div>
  {{#codepens.half_width_cells}}
    {{>example_edit_demo}}
  {{/codepens.half_width_cells}}
</div>

<p>Cells can be different sizes. You can use any unit you like: percent, pixels, etc.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` css
    .gallery-cell {
      width: 33%;
      height: 160px;
      margin-right: 10px;
    }
    .gallery-cell.size-180 { width: 180px; }
    .gallery-cell.size-large { width: 75%; }
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="gallery gallery--various-widths js-flickity">
      <div class="gallery-cell"></div>
      <div class="gallery-cell size-180"></div>
      <div class="gallery-cell size-large"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell size-large"></div>
    </div>
  </div>
  {{#codepens.various_width_cells}}
    {{>example_edit_demo}}
  {{/codepens.various_width_cells}}
</div>

<p>You can use media queries to show different number of cells for different breakpoints.</p>

<div class="example">
  <div class="example__code">
    ``` css
    /* default full-width cells */
    .gallery-cell {
      width: 100%;
      height: 160px;
      margin-right: 10px;
    }

    @media screen and ( min-width: 768px ) {
      /* half-width cells for larger devices */
      .gallery-cell { width: 50%; }
    }
    ```
  </div>
  <div class="example__demo">
    <div class="gallery gallery--media-queried js-flickity">
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
  </div>
  {{#codepens.media_queried}}
    {{>example_edit_demo}}
  {{/codepens.media_queried}}
</div>

<h3>Selected cell</h3>

<p>Flickity adds <code>is-selected</code> class to the selected cell.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` css
    .gallery-cell.is-selected {
      background: #ED2;
    }
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="gallery gallery--selected-cell gallery--show-several js-flickity">
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
  </div>
  {{#codepens.is_selected}}
    {{>example_edit_demo}}
  {{/codepens.is_selected}}
</div>

{{! ---------------------------------------------- }}

<h2>Previous &amp; next buttons</h2>

<p>Style and position previous &amp; next buttons with CSS.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` css
    /* big buttons, no circle */
    .flickity-prev-next-button {
      width: 100px;
      height: 100px;
      background: transparent;
    }
    .flickity-prev-next-button:hover {
      background: transparent;
    }
    /* arrow color */
    .flickity-prev-next-button .arrow {
      fill: white;
    }
    .flickity-prev-next-button.no-svg {
      color: white;
    }
    /* hide disabled button */
    .flickity-prev-next-button:disabled {
      display: none;
    }
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="gallery gallery--full-width gallery--prev-next-big-arrow js-flickity">
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{#codepens.prev_next_big_arrow}}
      {{>example_edit_demo}}
    {{/codepens.prev_next_big_arrow}}
  </div>
</div>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` css
    /* smaller, dark, rounded square */
    .flickity-prev-next-button {
      width: 30px;
      height: 30px;
      border-radius: 5px;
      background: #333;
    }
    .flickity-prev-next-button:hover {
      background: #F90;
    }
    /* arrow color */
    .flickity-prev-next-button .arrow {
      fill: white;
    }
    .flickity-prev-next-button.no-svg {
      color: white;
    }
    /* position outside */
    .flickity-prev-next-button.previous {
      left: -40px;
    }
    .flickity-prev-next-button.next {
      right: -40px;
    }
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="gallery gallery--full-width gallery--prev-next-small-outside js-flickity">
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{#codepens.prev_next_small_outside}}
      {{>example_edit_demo}}
    {{/codepens.prev_next_small_outside}}
  </div>
</div>

<p>Previous &amp; next buttons have <code>:focus</code> style. Click on a gallery, then hit <kbd>TAB</kbd> to see it.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` css
    /* already included in flickity.css */
    .flickity-prev-next-button:focus {
      outline: none;
      box-shadow: 0 0 0 5px #09F;
    }
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="gallery js-flickity">
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
  </div>
</div>

{{! ---------------------------------------------- }}

<h2>Page dots</h2>

<p>Style and position page dots with CSS.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` css
    /* position dots in gallery */
    .flickity-page-dots {
      bottom: 0px;
    }
    /* white circles */
    .flickity-page-dots .dot {
      width: 12px;
      height: 12px;
      opacity: 1;
      background: transparent;
      border: 2px solid white;
    }
    /* fill-in selected dot */
    .flickity-page-dots .dot.is-selected {
      background: white;
    }
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="gallery gallery--full-width gallery--o-dots js-flickity">
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{#codepens.o_dots}}
      {{>example_edit_demo}}
    {{/codepens.o_dots}}
  </div>
</div>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` css
    /* position dots up a bit */
    .flickity-page-dots {
      bottom: -22px;
    }
    /* dots are lines */
    .flickity-page-dots .dot {
      height: 4px;
      width: 40px;
      margin: 0;
      border-radius: 0;
    }
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="gallery gallery--full-width gallery--line-dots js-flickity">
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
      <div class="gallery-cell"></div>
    </div>
    {{#codepens.line_dots}}
      {{>example_edit_demo}}
    {{/codepens.line_dots}}
  </div>
</div>
