<div class="example__demo" data-js-module="reposition">
  <p class="example__demo__instruction">Click cells to toggle size</p>
  <div class="carousel carousel--reposition">
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
  </div>
  {{> edit-demo default="zxRvdw" vanilla_js="vEdgOR" }}
</div>
