<div class="duo__cell example__demo" data-js="append">
  <div class="button-row">
    <button class="button">Append cells</button>
  </div>
  <div class="carousel carousel--not-counting carousel--show-several">
    <div class="carousel-cell">
      <span class="carousel-cell__number">1</span>
    </div>
    <div class="carousel-cell">
      <span class="carousel-cell__number">2</span>
    </div>
    <div class="carousel-cell">
      <span class="carousel-cell__number">3</span>
    </div>
  </div>
  {{> edit-demo default="qExRVp" vanilla_js="OPQWOG" }}
</div>
