<div class="example__demo duo__cell">
  <div class="carousel carousel--full-width carousel--line-dots" data-flickity>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
  </div>
  {{> edit-demo default="ByYyao" }}
</div>
