<div class="example__demo duo__cell" data-js-module="progress-bar">
  <div class="carousel carousel--progress-bar">
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
  </div>
  <div class="progress-bar__bar"></div>
  {{> edit-demo default="grGWbo" vanilla_js="obpVGa" }}
</div>
