<div class="duo__cell example__demo">
  <div class="carousel carousel--cell-selector" data-flickity='{ "cellSelector": ".carousel-cell" }'>
    <div class="static-banner static-banner1">Static banner 1</div>
    <div class="static-banner static-banner2">Static banner 2</div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
  </div>
  {{> edit-demo default="xOXVPg" }}
</div>
