<h3>wrapAround</h3>

<p>At the end of cells, wrap-around to the other end for infinite scrolling.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    wrapAround: true
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="carousel js-flickity"
      data-flickity-options='{ "wrapAround": true }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
    {{> edit-demo default="myXdej" }}
  </div>
</div>
