<div class="example" data-js-module="player">
  <div class="example__demo">
    <div class="button-row">
      <div class="button-group button-group--inline">
        <button class="button button--play">Play</button>
        <button class="button button--stop">Stop</button>
      </div>
      <div class="button-group button-group--inline">
        <button class="button button--pause">Pause</button>
        <button class="button button--unpause">Unpause</button>
      </div>
    </div>

    <p class="player-status" style="font-weight: bold; font-size: 1.1em;">Playing</p>

    <div class="carousel">
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>

  </div>
</div>
