/* argument
------------------------- */

@charset "UTF-8";

.argument {
  margin: 0.5em 0;
  padding-left: 1.5em;
}

.argument__type {
  color: #777;
}

.argument__type,
.argument__description {
  margin-left: 0.4em;
}

.argument__type:before,
.argument__description:before {
  content: '·';
  padding-right: 0.4em;
  display: inline-block;
}
