/* arrow-wiz
------------------------- */

.arrow-wiz-illo {
  position: relative;
  width: 230px;
  height: 230px;
  margin-right: 20px;
  float: left;
}

.arrow-wiz-illo__canvas {
  position: absolute;
  left: 30px;
}

.arrow-wiz-illo__graph-label {
  display: block;
  position: absolute;
  font-size: 0.85rem;
}

.arrow-wiz-illo__graph-label--y {
  text-align: right;
  width: 20px;
}

.arrow-wiz-illo__graph-label--y-pos50 {
  top: -5px;
}


.arrow-wiz-illo__graph-label--y-0 {
  top: 92px;
}

.arrow-wiz-illo__graph-label--y-neg50 {
  top: 190px;
}

.arrow-wiz-illo__graph-label--x {
  top: 200px;
}

.arrow-wiz-illo__graph-label--x-0 {
  left: 30px;
}

.arrow-wiz-illo__graph-label--x-50 {
  left: 125px;
}

.arrow-wiz-illo__graph-label--x-100 {
  right: 0;
}

/* ---- points ---- */

.arrow-wiz-illo__top-well {
  position: absolute;
/*   background: hsla(0, 100%, 50%, 0.1); */
  width: 220px;
  height: 120px;
  left: 20px;
  top: -10px;
}

.arrow-wiz-illo__center-well {
  position: absolute;
/*   background: hsla(0, 100%, 50%, 0.1); */
  width: 220px;
  height: 20px;
  left: 20px;
  top: 90px;
}


.arrow-wiz-illo__point {
  position: absolute;
  width: 20px;
  height: 20px;
}

.arrow-wiz-illo__point:hover,
.arrow-wiz-illo__point.is-dragging {
  z-index: 2; /* above other points */
}

.arrow-wiz-illo__point--0,
.arrow-wiz-illo__point--3 {
  cursor: ew-resize;
}

.arrow-wiz-illo__point--1,
.arrow-wiz-illo__point--2 {
  cursor: move;
}

.arrow-wiz-illo__point--0 {
  left: 20px;
}

.arrow-wiz-illo__point--1 {
  left: 120px;
  top: 0;
}

.arrow-wiz-illo__point--2 {
  left: 140px;
  top: 20px;
}

.arrow-wiz-illo__point--3 {
  left: 60px;
}


.arrow-wiz-illo__point__dot {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #333;
  border-radius: 10px;
  opacity: 1;
  transform: scale(0.5);
  transition: transform 0.2s, opacity 0.2s;
}

.arrow-wiz-illo__point:hover .arrow-wiz-illo__point__dot,
.arrow-wiz-illo__point.is-dragging .arrow-wiz-illo__point__dot {
  opacity: 1;
  transform: scale(1);
}

.arrow-wiz-illo__point__label {
  display: block;
  position: absolute;
  font-size: 0.9rem;
  width: 45px;
  border-radius: 5px;
  background: #333;
  color: white;
  text-align: center;
  left: 30px;
  opacity: 0;
  transform: translateX(-5px);
  transition: transform 0.2s, opacity 0.2s;
  transform-origin: left top;
  pointer-events: none;
}

.arrow-wiz-illo__point:hover .arrow-wiz-illo__point__label,
.arrow-wiz-illo__point.is-dragging .arrow-wiz-illo__point__label {
  opacity: 1;
  transform: translateX(0px);
}
