/* buy-button
------------------------- */

.buy-button {
  display: block;
  margin-bottom: 10px;
  line-height: 1.3em;
  border: 2px solid;
  border-radius: 8px;
  border-color: #8C8;
  padding: 10px 100px 10px 10px;
  position: relative;
  text-align: center;
}

.buy-button__project,
.buy-button__title,
.buy-button__license {
}

.buy-button__for {
  display: block;
  font-style: italic;
}

.buy-button__price {
  font-size: 1.6em;
  background: #8C8;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 80px;
  text-align: center;
  line-height: 64px;
}

.buy-button__price__dollar {
  font-size: 0.6em;
  margin-right: 3px;
  vertical-align: top;
}

.buy-button:hover {
  border-color: #E90;
}

.buy-button:hover .buy-button__price {
  background: #E90;
}

@media screen and (min-width: 768px) {

  /* ---- buy-button-trio ---- */

  .buy-button-trio {
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .buy-button-trio:after {
    content: '';
    display: block;
    clear: both;
  }

  /* ---- buy-button-trio buy-button ---- */

  .buy-button-trio .buy-button {
    float: left;
    width: 31.33%;
    margin-right: 3%;
  }

  .buy-button-trio .buy-button:nth-child(3) {
    margin-right: 0;
  }

  .buy-button-trio .buy-button {
    transition: transform 0.2s;
    padding: 20px 0 0;
  }

  .buy-button-trio .buy-button > span {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
  }

  .buy-button-trio .buy-button__project,
  .buy-button-trio .buy-button__license {
    font-size: 1.1em;
  }

  .buy-button-trio .buy-button__title {
    font-size: 1.9em;
    line-height: 1.2;
  }

  .buy-button-trio .buy-button__license {
    margin-bottom: 15px;
  }

  .buy-button-trio .buy-button__for {
    margin-bottom: 20px;
    font-size: 1.1em;
  }

  .buy-button-trio .buy-button__price {
    position: relative;
    width: auto;
    font-size: 2.4em;
    line-height: 1.3;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .buy-button-trio .buy-button__price__dollar {
    position: relative;
    top: 8px;
  }


  .buy-button-trio .buy-button:hover {
    transform: translateY(-5px);
  }



}
