/* duo
two columns for large devices
------------------------- */

.duo:after {
  content: '';
  display: block;
  clear: both;
}

.duo__cell {
  margin-bottom: 10px;
}

@media screen and ( min-width: 768px ) {

  .duo__cell {
    float: left;
    width: 48.5%;
  }

  .duo__cell:first-child {
    margin-right: 3%;
  }

}