/* duo
two columns for large devices
------------------------- */

.duo:after {
  content: '';
  display: block;
  clear: both;
}

.duo__cell {
  margin-bottom: 10px;
}

/* --- duo--legal --- */


.duo--legal__plain {
  padding: 0 0.8em;
  background: #FAFAFA;
  color: #888;
}

.duo--legal--first .duo--legal__official:before,
.duo--legal--first .duo--legal__plain:before {
  display: block;
  padding-top: 0.5em;
  font-size: 0.88em;
  color: #888;
}

.duo--legal--first .duo--legal__official:before {
  content: 'Official legal copy'
}

.duo--legal--first  .duo--legal__plain:before {
  content: 'Plain English'
}


@media screen and ( min-width: 768px ) {

  .duo__cell {
    float: left;
    width: 48.5%;
  }

  .duo__cell:first-child {
    margin-right: 3%;
  }

}
