/* prev/next button demos
------------------------- */

/* ---- carousel--prev-next-big-arrow ---- */

.carousel--prev-next-big-arrow .flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}

.carousel--prev-next-big-arrow .flickity-prev-next-button .arrow { fill: white; }
.carousel--prev-next-big-arrow .flickity-prev-next-button.no-svg { color: white; }

/*.carousel--prev-next-big-arrow .flickity-prev-next-button.previous { left: -10px; }
.carousel--prev-next-big-arrow .flickity-prev-next-button.next { right: -10px; }*/

.carousel--prev-next-big-arrow .flickity-prev-next-button:disabled { display: none; }

/* ---- carousel--prev-next-small-outside ---- */

.carousel--prev-next-small-outside {
  margin-left: 40px;
  margin-right: 40px;
}

.carousel--prev-next-small-outside .flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: #444;
}

.carousel--prev-next-small-outside .flickity-prev-next-button:hover { background: #F90; }

.carousel--prev-next-small-outside .flickity-prev-next-button .arrow { fill: white; }
.carousel--prev-next-small-outside .flickity-prev-next-button.no-svg { color: white; }

.carousel--prev-next-small-outside .flickity-prev-next-button.previous { left: -40px; }
.carousel--prev-next-small-outside .flickity-prev-next-button.next { right: -40px; }
