/* quick start
------------------------- */

.quick-start p,
.quick-start li:before {
  font-size: 1.2em;
  line-height: 1.2;
}

.quick-start ol {
  list-style: none;
}

.quick-start li {
  position: relative;
  counter-increment: quick-start-item;
}

.quick-start li:before {
  content: counter(quick-start-item) ".";
  position: absolute;
  left: -1.2em;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Texta Heavy', sans-serif;
}
