/* site footer
------------------------- */

.site-footer {
  position: relative;
  background: #FAFAFA;
  padding: 40px 0;
  z-index: 2; /* on top of page-nav */
}

.site-footer p {
  font-size: 1.2em;
}

.other-products:after {
  content: '';
  display: block;
  clear: both;
}

.other-products__cell a {
  display: block;
  position: relative;
  padding: 10px 10px 10px 135px;;
  border-radius: 6px;
  margin-bottom: 20px;
  min-height: 120px;
  background: #EEE;
}

.other-products__cell a:hover {
  background: #8C8;
  color: white;
}

.other-products__cell img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 120px;
  border-radius: 5px 0 0 5px;
}

.other-products__cell h3 {
  font-size: 1.6em;
  margin: 0 0 0px;
}

.other-products__cell .description {
  font-size: 1.1em;
  line-height: 1.2;
  margin: 0;
}
