/* site footer
------------------------- */

.site-footer {
  position: relative;
  background: #FAFAFA;
  padding: 40px 0;
  z-index: 2; /* on top of page-nav */
}

.site-footer p {
  font-size: 1.2em;
}

.other-products:after {
  content: '';
  display: block;
  clear: both;
}

.other-products__cell a {
  display: block;
  position: relative;
  padding: 10px 10px 10px 145px;
  border-radius: 6px;
  margin-bottom: 20px;
  min-height: 140px;
  background: #EEE;
}

.other-products__cell a:hover {
  background: #8C8;
  color: white;
}

.other-products__cell img {
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 100%;
  max-width: 120px;
  border-radius: 5px;
}

.other-products__cell h3 {
  font-size: 1.6em;
  margin: 0 0 0px;
}

.other-products__cell .description {
  font-size: 1.1em;
  line-height: 1.2;
  margin: 0;
}

.site-footer__metafizzy-logo {
  height: 50px;
}

.site-footer__metafizzy-wordmark {
  width: 140px;
  height: auto;
  fill: #6A6;
}

.metafizzy-logo__body {
  fill: #6A6;
}

.metafizzy-logo__stripe1 { fill: transparent; }
.metafizzy-logo__stripe2 { fill: transparent; }
.metafizzy-logo__stripe3 { fill: transparent; }
.metafizzy-logo__stripe4 { fill: transparent; }

a:hover .site-footer__metafizzy-wordmark {
  fill: #EA0;
}

a:hover .metafizzy-logo__body { fill: transparent; }

a:hover .metafizzy-logo__stripe1 { fill: #C25; }
a:hover .metafizzy-logo__stripe2 { fill: #E62; }
a:hover .metafizzy-logo__stripe3 { fill: #EA0; }
a:hover .metafizzy-logo__stripe4 { fill: #19F; }

@media screen and ( min-width: 768px ) {

  .site-footer__metafizzy-logo {
    height: 65px;
  }

  .site-footer__metafizzy-wordmark {
    width: 180px;
  }

}
