/* buy button overwrites
------------------------- */

.buy-button {
  border: 2px solid;
  color: #8C8;
}

.buy-button__price {
  background: #8C8;
  border-radius: 0;
}

.buy-button:hover .buy-button__price { background: #E90; }

.buy-button-trio .buy-button__price {
  border-radius: 0;
}
