/* fizzy-docs-modules-overwrites
------------------------- */

/* ---- site-footer ---- */

.site-footer {
  background: #FAFAFA;
  margin-top: 0;
  position: relative;
}

.site-footer .twitter-logo { fill: #8C8; }
.site-footer a:hover .twitter-logo { fill: #E90; }


/* ---- showcase-item ---- */

.showcase-item__link {
  background: #EEE;
}

.showcase-item__link:hover {
  background: #8C8;
  color: white;
}

/* ---- fizzy-bear-shirt ---- */

.fizzy-bear-shirt__link {
  display: block;
  padding: 10px;
  border-radius: 8px;
  background: #eee;
}

.fizzy-bear-shirt__title {
  margin-top: 0;
}

.fizzy-bear-shirt__image {
  border-radius: 5px;
}

.fizzy-bear-shirt__link:hover {
  background: #8C8;
  color: white;
}

/* ---- mfzy-logo ---- */

.site-footer .mfzy-logo__body-fill { fill: #6A6; }
.site-footer .mfzy-logo__stripes { display: none; }

.site-footer a:hover .mfzy-logo__stripes { display: inline; }

/* ---- mfzy-wordmark ---- */

.mfzy-wordmark { stroke: #6A6; }
.mfzy-brand__link:hover .mfzy-wordmark { stroke: #333; }

@media screen and ( min-width: 1220px ) {

  .site-footer .mfzy-brand {
    position: absolute;
    left: 1000px;
    top: 70px;
    width: 180px;
  }

  .site-footer .mfzy-logo {
    display: block;
    width: 108px;
    height: 108px;
    margin: 0 auto 5px;
  }

  .site-footer .mfzy-wordmark {
    display: block;
    margin: 0 auto;
  }

}
