<div class="parallax" data-js="parallax">
  <!-- background parallax layer -->
  <div class="parallax__layer parallax__layer--bg">
    <div class="parallax__layer__cell parallax__layer__cell--bg"></div>
    <div class="parallax__layer__cell parallax__layer__cell--bg"></div>
    <div class="parallax__layer__cell parallax__layer__cell--bg"></div>
    <div class="parallax__layer__cell parallax__layer__cell--bg"></div>
    <div class="parallax__layer__cell parallax__layer__cell--bg"></div>
  </div>
  <!-- carousel: midground parallax layer -->
  <div class="carousel carousel--parallax">
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
  </div>
  <!-- foreground parallax layer -->
  <div class="parallax__layer parallax__layer--fg">
    <div class="parallax__layer__cell parallax__layer__cell--fg"></div>
    <div class="parallax__layer__cell parallax__layer__cell--fg"></div>
    <div class="parallax__layer__cell parallax__layer__cell--fg"></div>
    <div class="parallax__layer__cell parallax__layer__cell--fg"></div>
    <div class="parallax__layer__cell parallax__layer__cell--fg"></div>
  </div>
</div>

{{> edit-demo default="JKANYK" vanilla_js="oLGWLk" }}
