<div class="example duo" data-js="events-table">
  <div class="example__demo duo__cell">
    <div class="carousel">
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
  </div>
  <div class="duo__cell">
    <table class="event-table">
      <tr>
        <th class="event-table__time">Time</th>
        <th class="event-table__event">Event</th>
        <th class="event-table__message"></th>
      </tr>
    </table>
  </div>
</div>
