/* event-table
------------------------- */

.event-table {
  width: 100%;
}

.event-table th,
.event-table td {
}

.event-table td {
  font-size: 0.9em;
}

td.event-table__time {
  font-size: 0.9em;
}

.event-table__message {
  width: 100%;
}
