<div class="example__demo duo__cell" data-js="previous">
  <div class="button-row">
    <button class="button button--previous">Previous</button>
    <button class="button button--previous-wrapped">Previous wrapped</button>
  </div>
  <div class="carousel">
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
  </div>
  {{> edit-demo default="emVpdz" vanilla_js="PwQPGX" }}
</div>
