<div class="call-out">
  <p>Fullscreen functionality requires the <a href="https://github.com/metafizzy/flickity-fullscreen">flickity-fullscreen package</a>. It is not included in <code>flickity.pkgd.js</code> and <a href="https://github.com/metafizzy/flickity-fullscreen#install">must be installed separately</a>.</p>
</div>
