<div class="carousel">
  <div class="keyhole-cell">
    <img src="http://i.imgur.com/bwy74ok.jpg" alt="orange tree" />
  </div>
  <div class="keyhole-cell">
    <img src="http://i.imgur.com/aboaFoB.jpg" alt="freedom tower" />
  </div>
  <div class="keyhole-cell">
    <img src="http://i.imgur.com/LkmcILl.jpg" alt="drizzle" />
  </div>
  <div class="keyhole-cell">
    <img src="http://i.imgur.com/q9zO6tw.jpg" alt="cat nose" />
  </div>
  <div class="keyhole-cell">
    <img src="http://i.imgur.com/r8p3Xgq.jpg" alt="contrail" />
  </div>
  <div class="keyhole-cell">
    <img src="http://i.imgur.com/hODreXI.jpg" alt="sunset" />
  </div>
  <div class="keyhole-cell">
    <img src="http://i.imgur.com/UORFJ3w.jpg" alt="planes" />
  </div>
</div>
{{> edit-demo default="jAGWRQ" vanilla_js="qNPbgb" }}
