/* commercial-license-agreement
------------------------- */

.commercial-license-agreement h3 {
  counter-increment: cla-h3;
  counter-reset: cla-part;
}

.commercial-license-agreement h3:before {
  content: counter(cla-h3) '.';
  margin-right: 0.25rem;
  color: #888;
  font-family: 'Texta Regular', sans-serif;
}

.cla__part {
  counter-increment: cla-part;
}

.cla__part:before,
.cla__definitions-list li:before {
  content: counter(cla-h3) '.' counter(cla-part) '.';
  color: #888;
  margin-right: 0.25rem;
}

.cla__definitions-list {
  list-style: none;
  padding-left: 2.6rem;
}

.cla__definitions-list li {
  text-indent: -1.5rem;
  margin-bottom: 0.5rem;
  counter-increment: cla-definitions-item;
}

.cla__definitions-list li:before {
  content: counter(cla-h3) '.' counter(cla-definitions-item) '.';
}
