/* fullscreen
------------------------- */

.carousel.is-fullscreen {
  z-index: 3; /* above site-footer */
}

.carousel.is-fullscreen .carousel-cell,
.carousel.is-fullscreen .carousel-image-cell {
  height: 100%;
}

/* ---- .carousel-cell--fullscreen-image img ---- */

.carousel__natural-image--fullscreen {
  /* HACK vertically center */
  /* could use flexbox, but doesn't work in Chrome & Safari */
  top: 50%;
  position: relative;
  transform: translateY(-50%)
}

.carousel.is-fullscreen .carousel__natural-image--fullscreen {
  height: auto;
  max-height: 100%;
}

/* ---- carousel-image-cell ---- */

.carousel.is-fullscreen .carousel-image-cell img {
  max-width: 100%;
}

/* ----  ---- */

/* HACK, iOS adds width from font-size in button */
.flickity-fullscreen-button {
  font-size: 12px;
}
