<div class="example__demo duo__cell" data-js="view-fullscreen-demo">
  <div class="button-row">
    <button class="button">View fullscreen</button>
  </div>
  <div class="carousel">
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
  </div>
  {{> edit-demo default="WzGgYL" vanillaJS="zWKJmv" }}
</div>
