/* page-nav
------------------------- */

.page-nav {
  list-style: none;
  margin: 0 0 40px;
  padding: 0 10px 0 0;
  font-size: 0.85rem;
  line-height: 1.2;
}

.page-nav li {
  margin: 0.2rem 0;
}

.page-nav__item--h3,
.page-nav__item--h4 {
  padding-left: 15px;
}

@media screen and ( min-width: 1220px ) {
  .page-nav {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 200px;
    padding-top: 20px;
  }

  /* activate sticky */
  .page-nav:after {
    content: 'sticky';
    display: none;
  }

  .page-nav.is-fixed {
    position: fixed;
  }

}
