<div class="example__demo" data-js="remove">
  <p class="example__demo__instruction">Click cells to remove</p>
  <div class="carousel carousel--not-counting carousel--show-several">
    <div class="carousel-cell">
      <span class="carousel-cell__number">1</span>
    </div>
    <div class="carousel-cell">
      <span class="carousel-cell__number">2</span>
    </div>
    <div class="carousel-cell">
      <span class="carousel-cell__number">3</span>
    </div>
    <div class="carousel-cell">
      <span class="carousel-cell__number">4</span>
    </div>
    <div class="carousel-cell">
      <span class="carousel-cell__number">5</span>
    </div>
    <div class="carousel-cell">
      <span class="carousel-cell__number">6</span>
    </div>
    <div class="carousel-cell">
      <span class="carousel-cell__number">7</span>
    </div>
    <div class="carousel-cell">
      <span class="carousel-cell__number">8</span>
    </div>
  </div>
  {{> edit-demo default="WbMRgv" vanilla_js="gbvgdy" }}
</div>
