<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Touch, responsive, flickable galleries" />
  <meta name="viewport" content="width=device-width" />

  <title>Flickity &middot; beta{{#unless page.is_homepage}} &middot; {{page.title}}{{/unless}}</title>

  {{#if is_dev}}
    {{#each css_paths}}
      <link rel="stylesheet" href="../{{this}}" />
    {{/each}}
  {{else}}
    <link rel="stylesheet" href="{{#if page.is_404}}/{{/if}}css/flickity-docs.css" media="screen" />
  {{/if}}

</head>
<body class="page--{{basename}} {{#if is_export}}export{{/if}}">

{{> site_nav}}

{{#if page.is_homepage}}
  {{> hero_gallery}}
{{/if}}

<div class="main">
  <div class="content-wrap">
    {{#if page.title}}
      <h1 class="page-title">{{page.title}}</h1>
    {{/if}}

    <ul class="page-nav"></ul>

{{! no leading whitespace because handlebars preserves it, messes with code blocks
https://github.com/wycats/handlebars.js/issues/858 }}
{{> body}}
  </div>
</div>

{{> site_nav}}

{{> site_footer}}

{{#if is_dev}}
  {{#each js_paths}}
    <script src="../{{this}}"></script>
  {{/each}}
{{else}}
  <script src="{{#if page.is_404}}/{{/if}}js/flickity-docs.min.js"></script>
{{/if}}

{{#unless is_dev}}
  <script>
    // Google Analytics
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-58739927-1','auto');ga('send','pageview');
  </script>
{{/unless}}

</body>
</html>
