<div class="duo">
  <div class="duo__cell">
    <a class="chunky-button chunky-button--fill" href="{{sourceUrlPath}}flickity.pkgd.min.js">
      <i class="chunky-button__icon">
        {{> js-file}}
      </i>
      <span class="chunky-button__text">
        <span class="chunky-button__text__plain">Download</span>
        <b class="chunky-button__text__strong">flickity.pkgd.min.js</b>
      </span>
    </a>
  </div>
  <div class="duo__cell">
    <a class="chunky-button chunky-button--fill" href="{{sourceUrlPath}}flickity.css">
      <i class="chunky-button__icon">
        {{> css-file}}
      </i>
      <span class="chunky-button__text">
        <span class="chunky-button__text__plain">Download</span>
        <b class="chunky-button__text__strong">flickity.css</b>
      </span>
    </a>
  </div>
</div>

{{#unless isExport}}
  <div class="duo">
    <div class="duo__cell">
      <a class="chunky-button chunky-button--outline" href="flickity-docs.zip">
        <i class="chunky-button__icon">
          {{> zip-file}}
        </i>
        <span class="chunky-button__text">
          <span class="chunky-button__text__plain">Download</span>
          <b class="chunky-button__text__strong">these docs</b>
        </span>
      </a>
    </div>
  </div>
{{/unless}}
