<div class="duo">
  <div class="duo__cell">
    <a class="big-link big-link--fill" href="{{source_url_path}}flickity.css">Download <b>flickity.&#8203;css</b></a>
  </div>
  <div class="duo__cell">
    <a class="big-link big-link--fill" href="{{source_url_path}}flickity.pkgd.min.js">Download <b>flickity.pkgd.min.js</b></a>
  </div>
</div>

<div class="duo">
  {{#unless isExport}}
    <div class="duo__cell">
      <a class="big-link big-link--stroke" href="flickity-docs.zip">Download these <b>docs</b></a>
    </div>
  {{/unless}}
  <div class="duo__cell">
    <a class="big-link big-link--stroke" href="https://github.com/metafizzy/flickity">Flickity on <b>GitHub</b></a>
  </div>
</div>
