<div class="example__demo duo__cell">
  <div class="carousel carousel--as-nav-for-main carousel--full-width" data-flickity>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
  </div>
  <div class="carousel carousel--as-nav-for-nav carousel--nav"
    data-flickity='{ "asNavFor": ".carousel--as-nav-for-main", "contain": true, "pageDots": false }'>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
  </div>
  {{> edit-demo default="wByaqj" }}
</div>
