/* ---- carousel--prev-next-big-arrow ---- */

.carousel--prev-next-big-arrow .flickity-prev-next-button {
  background: transparent;
}

.carousel--prev-next-big-arrow .flickity-prev-next-button {
  width: 100px;
  height: 100px;
}

.carousel--prev-next-big-arrow .flickity-button-icon {
  fill: white;
}

.carousel--prev-next-big-arrow .flickity-button:disabled {
  display: none;
}
