<div class="example__demo duo__cell" data-js="destroy">
  <div class="button-row">
    <button class="button">Toggle Flickity</button>
  </div>
  <div class="carousel">
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
  </div>
  {{> edit-demo default="dPdNQq" vanilla_js="emVgoR" }}
</div>
