<h3>imagesLoaded</h3>

<p>Unloaded images have no size, which can throw off cell positions. To fix this, the <code>imagesLoaded</code> option re-positions cells once their images have loaded.</p>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    imagesLoaded: true
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="carousel carousel--images-loaded-demo" data-flickity='{ "imagesLoaded": true }'>
        <img src="https://i.imgur.com/bwy74ok.jpg" />
        <img src="https://i.imgur.com/bAZWoqx.jpg" />
        <img src="https://i.imgur.com/PgmEBSB.jpg" />
        <img src="https://i.imgur.com/aboaFoB.jpg" />
        <img src="https://i.imgur.com/LkmcILl.jpg" />
        <img src="https://i.imgur.com/q9zO6tw.jpg" />
    </div>
    {{> edit-demo default="MYQWEe" }}
  </div>
</div>

<div class="call-out">
  <p><code>imagesLoaded</code> requires the <a href="https://github.com/metafizzy/flickity-imagesloaded">flickity-imagesloaded package</a>. It already <em>is</em> included with <code>flickity.pkgd.js</code>, but not with Flickity as a stand-alone package. If you are using Browserify or RequireJS without <code>flickity.pkgd.js</code>, you need to install and require <code>flickity-imagesloaded</code> separately. See details in <a href="extras.html">Extras</a>.</p>
</div>
