/* ---- lazyload ---- */

.carousel--lazyload-cells .carousel-cell {
  height: 200px;
  margin-right: 2px;
  background: #222;
  border-radius: 0;
}

.carousel--lazyload-adj-cells .carousel-cell {
  width: 25%;
  height: 160px;
  margin-right: 2px;
  background: #222;
  border-radius: 0;
}

.carousel-cell__lazy-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.carousel-cell__lazy-image.flickity-lazyloaded,
.carousel-cell__lazy-image.flickity-lazyerror {
  opacity: 1;
}

.carousel__lazy-image {
  height: 200px;
  min-width: 150px;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}
/* fade in lazy loaded image */
.carousel__lazy-image.flickity-lazyloaded,
.carousel__lazy-image.flickity-lazyerror {
  opacity: 1;
}
