<div class="carousel-image-cell">
  <img class="carousel__lazy-image" alt="walrus"
    data-flickity-lazyload-src="https://picsum.photos/360/270/?image=1084"
    data-flickity-lazyload-srcset="
      https://picsum.photos/720/540/?image=1084 720w,
      https://picsum.photos/360/270/?image=1084 360w"
    sizes="(min-width: 1024px) 720px, 360px"
    />
</div>
<div class="carousel-image-cell">
  <img class="carousel__lazy-image" alt="bokeh"
    data-flickity-lazyload-src="https://picsum.photos/360/270/?image=56"
    data-flickity-lazyload-srcset="
      https://picsum.photos/720/540/?image=56 720w,
      https://picsum.photos/360/270/?image=56 360w"
    sizes="(min-width: 1024px) 720px, 360px"
    />
</div>
<div class="carousel-image-cell">
  <img class="carousel__lazy-image" alt="strawberries"
    data-flickity-lazyload-src="https://picsum.photos/360/270/?image=1080"
    data-flickity-lazyload-srcset="
      https://picsum.photos/720/540/?image=1080 720w,
      https://picsum.photos/360/270/?image=1080 360w"
    sizes="(min-width: 1024px) 720px, 360px"
    />
</div>
<div class="carousel-image-cell">
  <img class="carousel__lazy-image" alt="wolf"
    data-flickity-lazyload-src="https://picsum.photos/360/270/?image=718"
    data-flickity-lazyload-srcset="
      https://picsum.photos/720/540/?image=718 720w,
      https://picsum.photos/360/270/?image=718 360w"
    sizes="(min-width: 1024px) 720px, 360px"
    />
</div>
<div class="carousel-image-cell">
  <img class="carousel__lazy-image" alt="orange tree"
    data-flickity-lazyload-src="https://picsum.photos/360/270/?image=517"
    data-flickity-lazyload-srcset="
      https://picsum.photos/720/540/?image=517 720w,
      https://picsum.photos/360/270/?image=517 360w"
    sizes="(min-width: 1024px) 720px, 360px"
    />
</div>
<div class="carousel-image-cell">
  <img class="carousel__lazy-image" alt="tulip"
    data-flickity-lazyload-src="https://picsum.photos/360/270/?image=696"
    data-flickity-lazyload-srcset="
      https://picsum.photos/720/540/?image=696 720w,
      https://picsum.photos/360/270/?image=696 360w"
    sizes="(min-width: 1024px) 720px, 360px"
    />
</div>
