/* ---- lazyload ---- */

/* ---- carousel__lazy-image ---- */
/* general purpose */

.carousel__lazy-image {
  opacity: 0;
  transition: opacity 0.4s;
}
/* fade in lazy loaded image */
.carousel__lazy-image.flickity-lazyloaded,
.carousel__lazy-image.flickity-lazyerror {
  opacity: 1;
}

/* ---- lazyload-adj-cells ---- */

.carousel--lazyload-adj-cells .carousel-image-cell {
  width: 25%;
}
