<h3>autoPlay</h3>

<p>Automatically advances to the next cell.</p>

<p>Auto-playing will pause when mouse is hovered over, and resume when mouse is hovered off. Auto-playing will stop when the carousel is clicked or a cell is selected.</p>

<div class="call-out">
  <p>Autoplaying content can be disorientating for some users. It's best to offer an option to pause or stop the carousel <a href="api.html#player">. See Example</a>.</p>
</div>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    autoPlay: true
    // advance cells every 3 seconds
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="carousel" data-flickity='{ "autoPlay": true }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
    {{> edit-demo default="RNQwaB" }}
  </div>
</div>

<div class="example duo">
  <div class="example__code duo__cell">
    ``` js
    autoPlay: 1500 // {Number}
    // advance cells ever {Number} milliseconds
    // 1500 will advance cells every 1.5 seconds
    ```
  </div>
  <div class="example__demo duo__cell">
    <div class="carousel" data-flickity='{ "autoPlay": 1500 }'>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
    {{> edit-demo default="NPyWRZ" }}
  </div>
</div>
