<div class="example__demo duo__cell" data-js-module="custom-nav">
  <div class="carousel">
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
  </div>
  <div class="button-row button-row--centered">
    <button class="button button--previous">&larr;</button>
    <div class="button-group button-group--cells button-group--inline">
      <button class="button is-selected">1</button>
      <button class="button">2</button>
      <button class="button">3</button>
      <button class="button">4</button>
      <button class="button">5</button>
    </div>
    <button class="button button--next">&rarr;</button>
  </div>
  {{> edit-demo default="jEZwxb" vanilla_js="emVRjv" }}
</div>
