<div class="example__demo" data-js="resize">
  <div class="button-row">
    <button class="button button--resize">Resize</button>
  </div>
  <div class="carousel carousel--resize">
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
    <div class="carousel-cell"></div>
  </div>
  {{> edit-demo default="XJZmMp" vanillaJS="NPyGjQ" }}
</div>
